In [1]:
import pandas as pd
import sys
sys.path.append('/home/tomek/ib_tools')
from datastore import ArcticStore
from indicators import get_ATR
from grouper import group_by_volume

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/arctic/store/_pandas_ndarray_store.py:6: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import DataFrame, Series, Panel

In [2]:
store = ArcticStore('TRADES_30_secs')
symbols = ['NQ', 'GC', 'ES', 'YM']
volumes = {'NQ': 10000,
         'GC': 5500,
         'ES': 43000,
         'YM': 8000}

Library created, but couldn't enable sharding: no such command: 'enablesharding'. This is OK if you're not 'admin'

In [3]:
dfs = {symbol: store.contfuture(symbol, index=-2, start_date='20190101', end_date='20191231') for symbol in symbols}
dfs

{'NQ':                         open     high      low    close  volume   average  \
 date
 2019-01-02 00:00:00  6349.50  6355.75  6344.00  6347.75     243  6348.650
 2019-01-02 00:00:30  6348.50  6353.00  6347.50  6353.00      89  6349.750
 2019-01-02 00:01:00  6352.50  6364.75  6351.50  6359.25     178  6358.450
 2019-01-02 00:01:30  6359.50  6361.75  6358.50  6361.25     118  6360.175
 2019-01-02 00:02:00  6360.75  6363.00  6359.25  6362.50      49  6361.325
 ...                      ...      ...      ...      ...     ...       ...
 2019-12-30 22:58:00  8732.50  8732.50  8732.00  8732.25      13  8732.250
 2019-12-30 22:58:30  8732.25  8732.25  8731.75  8732.25      11  8732.075
 2019-12-30 22:59:00  8732.25  8732.25  8730.75  8731.75      38  8731.400
 2019-12-30 22:59:30  8732.00  8732.50  8731.75  8732.50      21  8732.225
 2019-12-31 00:00:00  8731.75  8732.00  8727.25  8730.25     107  8730.300

                      barCount
 date
 2019-01-02 00:00:00       126
 2019-01-02 00:00:30        62
 2019-01-02 00:01:00       143
 2019-01-02 00:01:30        83
 2019-01-02 00:02:00        43
 ...                       ...
 2019-12-30 22:58:00        12
 2019-12-30 22:58:30         8
 2019-12-30 22:59:00        17
 2019-12-30 22:59:30        13
 2019-12-31 00:00:00        62

 [697651 rows x 7 columns],
 'GC':                        open    high     low   close  volume  average  barCount
 date
 2019-01-02 00:00:00  1285.0  1285.0  1284.2  1284.3     145  1284.77        57
 2019-01-02 00:00:30  1284.4  1284.4  1284.1  1284.2      31  1284.23        18
 2019-01-02 00:01:00  1284.3  1284.5  1284.3  1284.3      82  1284.38        50
 2019-01-02 00:01:30  1284.4  1284.4  1284.1  1284.2      47  1284.27        17
 2019-01-02 00:02:00  1284.1  1284.1  1283.8  1283.9      35  1284.01        13
 ...                     ...     ...     ...     ...     ...      ...       ...
 2019-12-30 22:58:00  1518.1  1518.1  1517.9  1518.1      21  1518.02        10
 2019-12-30 22:58:30  1518.0  1518.1  1518.0  1518.1       5  1518.08         2
 2019-12-30 22:59:00  1518.0  1518.0  1518.0  1518.0       6  1518.00         5
 2019-12-30 22:59:30  1518.0  1518.2  1517.9  1518.2       7  1518.01         5
 2019-12-31 00:00:00  1517.7  1517.9  1517.5  1517.8      83  1517.71        33

 [705661 rows x 7 columns],
 'ES':                         open     high      low    close  volume   average  \
 date
 2019-01-02 00:00:00  2508.00  2509.50  2506.25  2508.25    1012  2507.775
 2019-01-02 00:00:30  2508.25  2509.00  2507.50  2509.00     351  2508.200
 2019-01-02 00:01:00  2509.00  2512.50  2508.75  2511.25     630  2510.425
 2019-01-02 00:01:30  2511.25  2512.25  2510.50  2512.00     269  2511.475
 2019-01-02 00:02:00  2512.25  2512.75  2511.50  2512.75     196  2512.150
 ...                      ...      ...      ...      ...     ...       ...
 2019-12-30 22:58:00  3223.50  3223.75  3223.25  3223.25      61  3223.375
 2019-12-30 22:58:30  3223.50  3223.50  3223.25  3223.50      53  3223.450
 2019-12-30 22:59:00  3223.25  3223.50  3223.25  3223.50      45  3223.350
 2019-12-30 22:59:30  3223.50  3223.50  3223.25  3223.25     158  3223.425
 2019-12-31 00:00:00  3223.25  3223.50  3221.75  3222.75     411  3222.775

                      barCount
 date
 2019-01-02 00:00:00       309
 2019-01-02 00:00:30       114
 2019-01-02 00:01:00       210
 2019-01-02 00:01:30        91
 2019-01-02 00:02:00        72
 ...                       ...
 2019-12-30 22:58:00        22
 2019-12-30 22:58:30        16
 2019-12-30 22:59:00        26
 2019-12-30 22:59:30        25
 2019-12-31 00:00:00       112

 [697651 rows x 7 columns],
 'YM':                         open     high      low    close  volume  average  \
 date
 2019-01-02 00:00:00  23320.0  23320.0  23289.0  23304.0     139  23300.1
 2019-01-02 00:00:30  23302.0  23310.0  23296.0  23308.0      59  23302.6
 2019-01-02 00:01:00  23311.0  23339.0  23307.0  23330.0      94  23323.2
 2019-01-02 00:01:30  23331.0  23339.0  23325.0  23339.0      60  23332.8
 2019-01-02 00:02:00  23336.0  23346.0  23334.0  23346.0      65  23339.2
 ...                      ...      ...      ...      ...     ...      ...
 2019-12-30 22:58:00  28440.0  28440.0  28440.0  28440.0       8  28440.0
 2019-12-30 22:58:30  28440.0  28440.0  28440.0  28440.0       0  28440.0
 2019-12-30 22:59:00  28440.0  28440.0  28440.0  28440.0       4  28440.0
 2019-12-30 22:59:30  28440.0  28440.0  28437.0  28438.0      18  28438.1
 2019-12-31 00:00:00  28427.0  28439.0  28427.0  28435.0     153  28429.4

                      barCount
 date
 2019-01-02 00:00:00        81
 2019-01-02 00:00:30        43
 2019-01-02 00:01:00        79
 2019-01-02 00:01:30        47
 2019-01-02 00:02:00        49
 ...                       ...
 2019-12-30 22:58:00         5
 2019-12-30 22:58:30         0
 2019-12-30 22:59:00         1
 2019-12-30 22:59:30        11
 2019-12-31 00:00:00        49

 [697651 rows x 7 columns]}

In [4]:
candles = {symbol: group_by_volume(df, volumes[symbol]) for symbol, df in dfs.items()}
candles

{'NQ':                         open     high      low    close  barCount  volume
 date
 2019-01-02 02:12:00  6349.50  6386.25  6344.00  6382.75      6738   10062
 2019-01-02 03:21:30  6382.75  6384.75  6320.00  6325.00      7427   10078
 2019-01-02 04:43:30  6324.50  6327.00  6292.25  6306.25      7464   10020
 2019-01-02 06:39:00  6306.50  6307.50  6258.75  6277.25      7293   10004
 2019-01-02 08:33:00  6277.25  6277.25  6247.00  6257.25      7253   10032
 ...                      ...      ...      ...      ...       ...     ...
 2019-12-30 21:23:00  8735.50  8740.75  8729.25  8739.50      5040   10087
 2019-12-30 21:44:00  8739.50  8742.75  8731.00  8733.25      4952   10206
 2019-12-30 21:56:30  8733.25  8735.50  8724.25  8729.00      5067   10460
 2019-12-30 22:00:00  8728.75  8737.75  8720.25  8735.00      4285   10498
 2019-12-31 00:00:00  8735.00  8738.00  8727.25  8730.25      3947    7826

 [10458 rows x 6 columns],
 'GC':                        open    high     low   close  barCount  volume
 date
 2019-01-02 02:06:00  1285.0  1285.0  1281.1  1281.7      2535    5530
 2019-01-02 03:04:30  1281.7  1282.4  1280.8  1282.0      2230    5500
 2019-01-02 04:00:00  1281.9  1284.9  1281.8  1284.6      2545    5523
 2019-01-02 05:42:30  1284.6  1285.7  1284.1  1285.6      2457    5507
 2019-01-02 06:36:30  1285.5  1287.9  1285.5  1287.7      2420    5507
 ...                     ...     ...     ...     ...       ...     ...
 2019-12-30 18:09:00  1518.3  1519.1  1517.8  1517.9      2422    5608
 2019-12-30 18:57:00  1517.9  1518.4  1517.4  1518.2      2419    5534
 2019-12-30 19:38:00  1518.2  1518.8  1517.8  1518.3      2215    5517
 2019-12-30 21:04:00  1518.3  1519.0  1517.7  1518.3      2504    5504
 2019-12-31 00:00:00  1518.3  1518.5  1517.4  1517.8      2285    5123

 [12137 rows x 6 columns],
 'ES':                         open     high      low    close  barCount  volume
 date
 2019-01-02 03:18:30  2508.00  2521.25  2496.00  2497.25     17509   43189
 2019-01-02 06:57:00  2497.25  2499.25  2478.25  2479.50     20282   43079
 2019-01-02 09:21:30  2479.25  2485.75  2456.75  2457.00     17836   43624
 2019-01-02 10:26:30  2457.25  2466.50  2452.25  2466.00     17668   43156
 2019-01-02 12:17:30  2466.00  2472.00  2463.00  2471.00     16574   43028
 ...                      ...      ...      ...      ...       ...     ...
 2019-12-30 21:41:00  3224.25  3225.75  3222.00  3222.00      5916   43077
 2019-12-30 21:55:00  3222.00  3223.00  3220.50  3221.25      5445   44970
 2019-12-30 21:59:30  3221.50  3223.75  3218.50  3222.75      6001   80118
 2019-12-30 22:30:00  3222.50  3225.25  3222.50  3223.50      5145   43907
 2019-12-31 00:00:00  3223.50  3224.00  3221.75  3222.75       977    4809

 [7654 rows x 6 columns],
 'YM':                         open     high      low    close  barCount  volume
 date
 2019-01-02 02:54:30  23320.0  23417.0  23289.0  23318.0      5978    8006
 2019-01-02 03:45:30  23319.0  23319.0  23125.0  23160.0      6188    8036
 2019-01-02 05:32:00  23160.0  23190.0  23032.0  23082.0      6073    8010
 2019-01-02 08:16:00  23083.0  23120.0  23021.0  23047.0      6274    8031
 2019-01-02 09:16:00  23047.0  23073.0  22908.0  22910.0      5641    8108
 ...                      ...      ...      ...      ...       ...     ...
 2019-12-30 20:21:00  28506.0  28513.0  28464.0  28466.0      3935    8025
 2019-12-30 21:06:30  28466.0  28468.0  28444.0  28462.0      3478    8000
 2019-12-30 21:50:00  28460.0  28475.0  28427.0  28440.0      3820    8300
 2019-12-30 22:05:30  28439.0  28462.0  28411.0  28453.0      3767    8005
 2019-12-31 00:00:00  28454.0  28454.0  28427.0  28435.0       886    1837

 [5828 rows x 6 columns]}

In [5]:
atrs = {symbol: get_ATR(df, 180) for symbol, df in candles.items()}
atrs

{'NQ': date
 2019-01-02 02:12:00    42.250000
 2019-01-02 03:21:30    53.562500
 2019-01-02 04:43:30    47.221862
 2019-01-02 06:39:00    47.610288
 2019-01-02 08:33:00    44.060647
                          ...
 2019-12-30 21:23:00    12.603672
 2019-12-30 21:44:00    12.594239
 2019-12-30 21:56:30    12.579385
 2019-12-30 22:00:00    12.633757
 2019-12-31 00:00:00    12.612942
 Name: ATR, Length: 10458, dtype: float64, 'GC': date
 2019-01-02 02:06:00    3.900000
 2019-01-02 03:04:30    2.743611
 2019-01-02 04:00:00    2.863730
 2019-01-02 05:42:30    2.542512
 2019-01-02 06:36:30    2.513373
                          ...
 2019-12-30 18:09:00    1.809510
 2019-12-30 18:57:00    1.800566
 2019-12-30 19:38:00    1.791720
 2019-12-30 21:04:00    1.786286
 2019-12-31 00:00:00    1.778703
 Name: ATR, Length: 12137, dtype: float64, 'ES': date
 2019-01-02 03:18:30    25.250000
 2019-01-02 06:57:00    23.113194
 2019-01-02 09:21:30    25.097306
 2019-01-02 10:26:30    22.340116
 2019-01-02 12:17:30    19.612476
                          ...
 2019-12-30 21:41:00     4.379802
 2019-12-30 21:55:00     4.359031
 2019-12-30 21:59:30     4.368876
 2019-12-30 22:30:00     4.350988
 2019-12-31 00:00:00     4.327773
 Name: ATR, Length: 7654, dtype: float64, 'YM': date
 2019-01-02 02:54:30    128.000000
 2019-01-02 03:45:30    161.183333
 2019-01-02 05:32:00    160.110410
 2019-01-02 08:16:00    144.577243
 2019-01-02 09:16:00    148.753064
                           ...
 2019-12-30 20:21:00     47.076942
 2019-12-30 21:06:30     46.821948
 2019-12-30 21:50:00     46.834965
 2019-12-30 22:05:30     46.880987
 2019-12-31 00:00:00     46.661308
 Name: ATR, Length: 5828, dtype: float64}

In [6]:
out = {}
out1 = {}
out2 = {}
for symbol, series in atrs.items():
    print(symbol)
    data = series.describe()
    print(data)
    out[symbol] = round(data['25%'],1)
    out1[symbol] = round(data['mean'] - 2*data['std'], 1)
    out2[symbol] = round(data['50%'],1)

NQ
count    10458.000000
mean        17.393009
std          3.687095
min         10.482281
25%         14.622140
50%         16.989944
75%         19.384188
max         53.562500
Name: ATR, dtype: float64
GC
count    12137.000000
mean         2.319752
std          0.520703
min          1.487171
25%          1.867842
50%          2.193399
75%          2.765625
max          3.900000
Name: ATR, dtype: float64
ES
count    7654.000000
mean        6.083668
std         1.454923
min         3.901333
25%         5.008710
50%         5.921129
75%         6.753479
max        25.250000
Name: ATR, dtype: float64
YM
count    5828.000000
mean       64.076346
std        12.988836
min        44.721147
25%        54.333403
50%        61.744539
75%        70.370741
max       161.183333
Name: ATR, dtype: float64

In [7]:
out

{'NQ': 14.6, 'GC': 1.9, 'ES': 5.0, 'YM': 54.3}

In [8]:
out1

{'NQ': 10.0, 'GC': 1.3, 'ES': 3.2, 'YM': 38.1}

In [9]:
out2

{'NQ': 17.0, 'GC': 2.2, 'ES': 5.9, 'YM': 61.7}