In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from grouper import group_by_volume, group_by_time
from pyfolio.timeseries import perf_stats
from functools import partial
import sys
sys.path.append('/home/tomek/ib_tools')
from indicators import get_ATR, get_signals
%matplotlib inline

In [2]:
contract = pd.read_pickle('data/minute_NQ_cont_non_active_included.pickle')
multiplier = 20
min_tick = 0.25

In [3]:
contract = contract.loc['20180202':]
contract

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-02-02 00:00:00,6954.00,6958.00,6953.50,6955.25,877,6955.025,362
2018-02-02 00:01:00,6955.25,6956.50,6952.50,6952.50,376,6955.150,201
2018-02-02 00:02:00,6952.50,6954.00,6951.25,6952.00,292,6952.525,141
2018-02-02 00:03:00,6951.75,6953.50,6951.00,6953.00,414,6952.250,140
2018-02-02 00:04:00,6952.75,6956.50,6952.75,6956.50,304,6954.275,123
...,...,...,...,...,...,...,...
2019-09-04 18:27:00,7695.50,7696.00,7694.75,7695.00,369,7695.475,178
2019-09-04 18:28:00,7695.00,7695.50,7694.75,7695.00,173,7695.025,72
2019-09-04 18:29:00,7695.00,7695.75,7694.50,7695.00,195,7695.125,87
2019-09-04 18:30:00,7695.00,7698.00,7694.25,7697.50,531,7696.675,248
2019-09-04 18:31:00,7697.75,7697.75,7697.00,7697.25,72,7697.375,41

In [4]:
#periods = 20
periods = [5, 10, 20, 40, 80] #, 160, 320]
ema_fast = 120 # number of periods for moving average filter
sl_atr = 1 # stop loss in ATRs
atr_periods = 80 # number of periods to calculate ATR on
time_int = 60 # interval in minutes to be used to define volume candle
commission = 2.1 # level of commision per transaction in dollars
bankroll = 15000

In [5]:
avg_vol = contract.loc['20190621':].volume.rolling(time_int).sum().mean()
avg_vol

19835.00226841541

In [6]:
avg_vol = 14913

In [7]:
vol_candles = group_by_volume(contract, avg_vol)
vol_candles['atr'] = get_ATR(vol_candles, atr_periods)

In [8]:
vol_candles

,date,open,high,low,close,barCount,volume,atr
label,,,,,,,,
0,2018-02-02 02:42:00,6954.00,6963.50,6912.50,6915.00,7971,14857,51.000000
1,2018-02-02 07:59:00,6915.25,6944.00,6915.00,6932.75,8645,14991,39.862500
2,2018-02-02 10:20:00,6932.75,6939.75,6888.00,6889.50,7977,14427,43.924470
3,2018-02-02 12:04:00,6889.75,6889.75,6857.75,6867.25,9138,16018,40.830641
4,2018-02-02 13:34:00,6867.00,6872.50,6844.50,6866.25,8830,15101,38.134623
...,...,...,...,...,...,...,...,...
12030,2019-09-04 16:43:00,7675.75,7683.75,7668.00,7676.50,7942,15511,24.377828
12031,2019-09-04 17:08:00,7676.50,7686.75,7673.00,7684.75,7686,14993,24.115413
12032,2019-09-04 17:32:00,7685.00,7698.75,7679.50,7697.25,7165,15097,23.995279
12033,2019-09-04 18:03:00,7697.25,7704.25,7695.50,7703.75,7423,15431,23.618852
12034,2019-09-04 18:31:00,7703.75,7704.25,7690.00,7697.25,5191,10706,23.387523

In [9]:
data = vol_candles
data['ema'] = data.close.ewm(span=ema_fast).mean()
#data['min'] = data.close.rolling(periods).min()
#data['max'] = data.close.rolling(periods).max()
rows_to_drop = max(*periods, ema_fast)
data = data.iloc[rows_to_drop:]
data.reset_index(drop=True, inplace=True)

In [10]:
#data['buy_signal'] = (data.close >= data['max']) * 1
#data['sell_signal'] = (data.close <= data['min']) * -1
#data['signal'] = data.buy_signal + data.sell_signal
#del data['buy_signal']
#del data['sell_signal']
data['signal'] = get_signals(data.close, periods)
data['filter'] = np.sign(data['close'] - data['ema'])
data['filtered_signal'] = data['signal'] * ((data['signal'] * data['filter']) == 1)
#data['cum_position'] = data['position'].cumsum().clip(lower=-1, upper=1)
#data.tail(50)

In [11]:
# while in position maintain open price and transaction direction
data['positions'] = 0
# flag to execute transaction at next data point
data['mark'] = False
# note the reason for transaction at next data point
data['reason'] = ''
# record commission paid
data['commission'] = 0
# record transaction price
data['price'] = 0
# entry price for stop loss calculation
data['entry'] = 0

for item in data.itertuples(): 
    # first row doesn't have to check if we have positions or execute transactions
    if not item.Index == 0:
        # starting position is the same as previous day position
        data.loc[item.Index, 'positions'] = data.loc[(item.Index - 1), 'positions'] 
        data.loc[item.Index, 'entry'] = data.loc[(item.Index - 1), 'entry'] 
        # execute transactions
        if data.loc[(item.Index -  1), 'mark']:
            # close position
            if data.loc[item.Index, 'positions']:
                data.loc[item.Index, 'positions'] = 0
                data.loc[item.Index, 'entry'] = 0
                # record transaction price
                data.loc[item.Index, 'price'] = item.open * np.sign(data.loc[(item.Index - 1), 'entry']) * -1
            # open position
            else:
                data.loc[item.Index, 'positions'] = data.loc[(item.Index - 1), 'signal']
                data.loc[item.Index, 'entry'] = item.open * data.loc[(item.Index - 1), 'signal']
                # record transaction price
                data.loc[item.Index, 'price'] = item.open * data.loc[(item.Index -1), 'signal']
            # record commission paid
            data.loc[item.Index, 'commission'] = commission

    # check for close signal
    if data.loc[item.Index, 'positions'] != 0 and np.sign(item.signal) != 0:
        if np.sign(data.loc[item.Index, 'positions']) != np.sign(item.signal):
            data.loc[item.Index, 'mark'] = True
            data.loc[item.Index, 'reason'] = 'close'
    # check for stop-loss signal
    # long positions
    if data.loc[item.Index, 'positions'] > 0:
        if item.close <= (data.loc[item.Index, 'entry'] - (item.atr * sl_atr)):
            data.loc[item.Index, 'mark'] = True
            data.loc[item.Index, 'reason'] = 'stop-out'
    # short positions
    if data.loc[item.Index, 'positions'] < 0:
        if item.close >= abs((data.loc[item.Index, 'entry'] - (item.atr * sl_atr))):
            data.loc[item.Index, 'mark'] = True
            data.loc[item.Index, 'reason'] = 'stop-out'
    # check for entry signal
    if data.loc[item.Index, 'positions'] == 0:
        if item.filtered_signal != 0:
            data.loc[item.Index, 'mark'] = True
            data.loc[item.Index, 'reason'] = 'entry'
# close any open positions
if data[data.price != 0].price.count() % 2 != 0:
    data.loc[data.index[-1]+1, 'price'] = data.open.iloc[-1] * np.sign(data.entry.iloc[-1]) * -1
    data.loc[data.index[-2]+1, 'entry'] = 0
data.set_index('date', inplace=True)

In [12]:
data.head(50)

,open,high,low,close,barCount,volume,atr,ema,signal,filter,filtered_signal,positions,mark,reason,commission,price,entry
date,,,,,,,,,,,,,,,,,
2018-02-06 15:58:00,6592.50,6599.75,6520.25,6523.50,8414.0,17057.0,54.057955,6607.554781,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:04:00,6523.50,6589.50,6523.50,6586.75,8534.0,15351.0,54.367476,6607.159110,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:12:00,6587.00,6599.75,6536.00,6542.25,9299.0,17108.0,54.610361,6605.927716,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:19:00,6542.75,6548.50,6471.75,6499.50,8969.0,16461.0,55.182802,6603.913590,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:25:00,6499.00,6530.75,6456.25,6483.75,8746.0,15608.0,55.681686,6601.644950,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:33:00,6484.25,6503.00,6452.00,6461.75,9115.0,16138.0,55.560914,6599.009984,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:41:00,6463.00,6473.75,6422.50,6462.00,8536.0,15621.0,55.449830,6596.435296,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 16:51:00,6463.00,6522.50,6445.00,6495.75,8658.0,15329.0,56.017411,6594.547492,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 17:09:00,6496.25,6529.50,6463.00,6485.50,9629.0,15700.0,56.286954,6592.507431,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 17:28:00,6487.25,6507.25,6460.75,6492.25,9364.0,14998.0,56.035555,6590.635893,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 17:46:00,6492.50,6493.00,6446.25,6478.50,8939.0,15664.0,55.797272,6588.547082,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 18:02:00,6478.75,6522.25,6478.00,6505.50,8053.0,15235.0,55.501238,6587.003363,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 18:20:00,6505.75,6552.75,6504.50,6530.00,8544.0,15638.0,55.315515,6585.945935,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 18:36:00,6530.50,6576.25,6517.00,6556.50,8344.0,15743.0,55.416194,6585.400807,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 18:50:00,6556.25,6594.75,6551.00,6559.00,8071.0,14626.0,55.117936,6584.913020,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 19:08:00,6559.50,6568.25,6522.25,6530.50,9217.0,16047.0,54.885031,6583.909628,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 19:27:00,6531.25,6573.75,6515.00,6558.25,7913.0,15224.0,54.983672,6583.437359,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 19:51:00,6558.75,6574.25,6511.75,6518.50,8374.0,15081.0,55.175344,6582.244418,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 20:10:00,6519.00,6520.50,6493.25,6509.50,7561.0,14935.0,54.463803,6580.910513,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 20:26:00,6509.75,6531.00,6484.00,6494.00,8085.0,16138.0,54.273774,6579.319722,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 20:44:00,6494.50,6547.75,6490.25,6547.50,7848.0,15082.0,54.355851,6578.738332,0.0,-1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 20:56:00,6547.75,6601.25,6544.25,6586.00,7850.0,15197.0,54.423069,6578.870782,0.0,1.0,0.0,0.0,False,,0.0,0.0,0.0
2018-02-06 21:04:00,6586.25,6629.50,6581.00,6626.75,6397.0,13955.0,54.272606,6579.742587,1.0,1.0,1.0,0.0,True,entry,0.0,0.0,0.0
2018-02-06 21:12:00,6627.00,6648.50,6618.50,6629.50,8574.0,16966.0,53.656450,6580.647072,1.0,1.0,1.0,1.0,False,,2.1,6627.0,6627.0
2018-02-06 21:24:00,6629.50,6634.00,6597.00,6604.50,7741.0,15626.0,53.233921,6581.079954,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-06 21:38:00,6604.50,6669.25,6604.50,6665.00,8367.0,15747.0,53.525855,6582.600471,1.0,1.0,1.0,1.0,False,,0.0,0.0,6627.0
2018-02-06 21:51:00,6665.25,6676.25,6622.50,6625.00,8011.0,15516.0,53.531534,6583.367473,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-06 21:58:00,6625.00,6662.25,6624.00,6647.25,5360.0,11677.0,53.144648,6584.521299,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-06 22:12:00,6646.75,6677.50,6640.50,6661.50,8461.0,20760.0,52.736167,6585.909536,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 01:44:00,6661.25,6672.50,6623.00,6657.25,10668.0,15562.0,52.654338,6587.194160,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 04:27:00,6657.50,6664.00,6607.50,6611.75,9481.0,15116.0,52.751521,6587.635683,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 08:09:00,6610.75,6622.50,6565.00,6605.75,10813.0,15033.0,52.871450,6587.960913,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 10:34:00,6605.25,6620.00,6573.50,6603.00,10844.0,14995.0,52.710622,6588.230545,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 12:57:00,6602.50,6622.25,6582.25,6620.25,9582.0,14821.0,52.389957,6588.803811,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 14:06:00,6619.75,6641.25,6617.75,6633.50,8630.0,14690.0,51.661509,6589.602939,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 14:50:00,6633.75,6647.50,6622.75,6632.75,10034.0,15459.0,50.983302,6590.373330,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 15:27:00,6632.75,6649.50,6624.75,6648.50,9981.0,15082.0,50.322524,6591.409807,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 15:32:00,6648.25,6655.50,6627.25,6635.00,7901.0,13924.0,49.766826,6592.186068,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 15:39:00,6634.75,6658.50,6623.50,6646.50,8948.0,16065.0,49.395236,6593.152064,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 15:46:00,6646.25,6668.25,6636.75,6638.00,9448.0,16698.0,48.945136,6593.948702,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 15:57:00,6638.00,6658.00,6623.75,6657.25,9473.0,17168.0,48.575695,6595.071742,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 16:05:00,6657.25,6681.50,6651.25,6679.00,7995.0,14795.0,48.115187,6596.558927,1.0,1.0,1.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 16:15:00,6679.25,6689.75,6671.50,6684.25,9295.0,16229.0,47.365031,6598.110940,1.0,1.0,1.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 16:25:00,6684.75,6687.00,6660.50,6667.75,8807.0,16034.0,46.841165,6599.342016,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 16:38:00,6668.00,6673.50,6650.00,6658.25,8273.0,15510.0,46.255374,6600.382194,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 16:54:00,6658.25,6692.75,6657.50,6689.00,9186.0,16349.0,45.979285,6601.945214,1.0,1.0,1.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 17:09:00,6689.00,6712.50,6678.75,6709.50,8508.0,15378.0,45.672613,6603.840138,1.0,1.0,1.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 17:24:00,6709.75,6717.75,6698.25,6708.00,8207.0,15796.0,45.016540,6605.673254,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 17:45:00,6708.00,6710.75,6683.50,6696.75,8830.0,15857.0,44.571350,6607.274405,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0
2018-02-07 17:59:00,6696.50,6700.50,6675.25,6692.25,8174.0,15287.0,44.087378,6608.766728,0.0,1.0,0.0,1.0,False,,0.0,0.0,6627.0

In [33]:
data.tail(50)

,open,high,low,close,barCount,volume,atr,ema,signal,filter,filtered_signal,positions,mark,reason,commission,price,entry
date,,,,,,,,,,,,,,,,,
2019-09-03 09:07:00,7625.50,7658.75,7600.75,7619.50,9678.0,14839.0,28.083321,7649.603877,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 10:04:00,7619.75,7624.75,7595.50,7612.75,9621.0,15213.0,28.112128,7648.994722,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 11:25:00,7612.50,7649.75,7610.50,7631.25,9979.0,15302.0,28.387137,7648.701420,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 12:49:00,7631.25,7633.00,7593.25,7626.25,9177.0,15161.0,28.667702,7648.330323,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 14:19:00,7625.75,7640.00,7617.75,7628.50,9425.0,15045.0,28.509240,7648.002549,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 14:53:00,7628.50,7662.00,7627.00,7649.00,9068.0,14937.0,28.669506,7648.019035,0.0,1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 15:29:00,7648.75,7659.00,7632.25,7638.00,7781.0,12196.0,28.622110,7647.853432,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 15:35:00,7638.00,7660.00,7627.75,7657.00,10361.0,16829.0,28.711688,7648.004615,0.0,1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 15:45:00,7656.75,7669.00,7648.50,7665.25,10454.0,17244.0,28.508930,7648.289662,0.0,1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 15:54:00,7665.75,7676.25,7643.25,7673.75,8870.0,15425.0,28.619821,7648.710494,0.0,1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 16:02:00,7673.50,7676.75,7628.75,7637.25,8769.0,15283.0,29.098344,7648.521065,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 16:06:00,7637.00,7640.75,7602.50,7604.00,7723.0,14477.0,29.324311,7647.785179,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 16:13:00,7604.25,7620.75,7602.50,7607.75,8652.0,16449.0,29.050871,7647.123441,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 16:27:00,7607.75,7620.25,7596.50,7614.00,9663.0,16517.0,28.919985,7646.575946,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 16:40:00,7613.75,7628.00,7609.25,7624.50,9148.0,15517.0,28.668874,7646.211054,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 16:52:00,7624.75,7649.00,7623.25,7641.25,10610.0,19539.0,28.596803,7646.129053,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 17:09:00,7641.50,7647.75,7630.75,7632.50,8731.0,14977.0,28.310463,7645.903780,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 17:25:00,7632.75,7634.00,7609.00,7623.00,9975.0,17203.0,28.228723,7645.525205,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 17:37:00,7623.00,7639.75,7617.00,7634.50,9242.0,15403.0,28.093446,7645.342970,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 17:57:00,7634.50,7647.25,7626.50,7636.25,8383.0,15167.0,27.912126,7645.192673,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 18:21:00,7636.25,7640.25,7622.25,7629.50,8220.0,14948.0,27.667382,7644.933290,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 18:55:00,7629.00,7633.50,7614.00,7617.75,8932.0,15612.0,27.465718,7644.483979,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 19:21:00,7617.75,7625.50,7605.00,7605.75,7973.0,14701.0,27.293725,7643.843748,0.0,-1.0,0.0,0.0,False,,0.0,0.00,0.00
2019-09-03 19:48:00,7605.50,7611.00,7590.25,7594.50,7766.0,15064.0,27.132152,7643.028149,-1.0,-1.0,-1.0,0.0,True,entry,0.0,0.00,0.00
2019-09-03 20:11:00,7594.25,7601.75,7587.50,7600.50,7356.0,15494.0,26.814074,7642.325205,0.0,-1.0,0.0,-1.0,False,,2.1,-7594.25,-7594.25
2019-09-03 20:40:00,7600.25,7602.00,7589.25,7599.50,7678.0,15468.0,26.466813,7641.617350,0.0,-1.0,0.0,-1.0,False,,0.0,0.00,-7594.25
2019-09-03 21:08:00,7599.50,7603.50,7592.25,7596.50,7630.0,15107.0,26.091089,7640.871609,0.0,-1.0,0.0,-1.0,False,,0.0,0.00,-7594.25
2019-09-03 21:40:00,7596.25,7615.00,7595.00,7612.75,7961.0,14957.0,25.940692,7640.406789,0.0,-1.0,0.0,-1.0,False,,0.0,0.00,-7594.25
2019-09-03 21:57:00,7612.50,7626.75,7609.75,7616.75,7327.0,15345.0,25.719934,7640.015767,0.0,-1.0,0.0,-1.0,False,,0.0,0.00,-7594.25
2019-09-04 00:30:00,7616.75,7623.00,7608.25,7616.00,7465.0,15746.0,25.449071,7639.618812,0.0,-1.0,0.0,-1.0,False,,0.0,0.00,-7594.25
2019-09-04 03:08:00,7616.00,7640.75,7608.50,7640.25,8529.0,14894.0,25.616996,7639.629245,0.0,1.0,0.0,-1.0,True,stop-out,0.0,0.00,-7594.25
2019-09-04 05:01:00,7639.75,7663.75,7635.75,7655.00,8740.0,15046.0,25.675835,7639.883307,1.0,1.0,1.0,0.0,True,entry,2.1,7639.75,0.00
2019-09-04 07:33:00,7655.00,7688.25,7647.25,7678.50,8565.0,15322.0,26.054210,7640.521600,1.0,1.0,1.0,1.0,False,,2.1,7655.00,7655.00
2019-09-04 08:32:00,7678.50,7713.00,7674.75,7704.25,8093.0,15024.0,26.355340,7641.574962,1.0,1.0,1.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 09:34:00,7704.50,7722.50,7694.75,7721.75,8392.0,14536.0,26.389776,7642.900169,1.0,1.0,1.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 11:01:00,7722.00,7730.00,7714.00,7719.00,8473.0,15285.0,26.133239,7644.158018,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 12:17:00,7719.00,7725.50,7695.50,7701.25,7836.0,14953.0,26.228714,7645.101687,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 13:50:00,7701.50,7703.25,7687.50,7700.50,7708.0,14919.0,25.969981,7646.017361,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 15:19:00,7700.50,7702.25,7688.50,7689.75,8304.0,15056.0,25.668253,7646.740215,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 15:33:00,7689.50,7692.00,7680.50,7686.75,8231.0,15223.0,25.318419,7647.401534,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 15:43:00,7686.50,7697.75,7683.50,7696.50,7883.0,13391.0,25.045125,7648.213078,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 15:55:00,7696.50,7705.50,7682.00,7682.75,10525.0,18213.0,25.006974,7648.783937,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 16:09:00,7683.00,7693.75,7674.00,7676.25,8423.0,15064.0,24.877172,7649.237921,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 16:23:00,7676.25,7679.00,7665.50,7675.75,8030.0,16057.0,24.596254,7649.676137,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 16:43:00,7675.75,7683.75,7668.00,7676.50,7942.0,15511.0,24.377828,7650.119507,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 17:08:00,7676.50,7686.75,7673.00,7684.75,7686.0,14993.0,24.115413,7650.691912,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 17:32:00,7685.00,7698.75,7679.50,7697.25,7165.0,15097.0,23.995279,7651.461467,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 18:03:00,7697.25,7704.25,7695.50,7703.75,7423.0,15431.0,23.618852,7652.325740,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
2019-09-04 18:31:00,7703.75,7704.25,7690.00,7697.25,5191.0,10706.0,23.387523,7653.068290,0.0,1.0,0.0,1.0,False,,0.0,0.00,7655.00
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7703.75,0.00

In [13]:
pnl = data[['open','positions', 'commission', 'mark', 'reason', 'price', 'entry']]
pnl['mark'] = pnl['mark'].shift(1)
pnl['reason'] = pnl['reason'].shift(1)

In [14]:
pnl

,open,positions,commission,mark,reason,price,entry
date,,,,,,,
2018-02-06 15:58:00,6592.50,0.0,0.0,NaN,NaN,0.00,0.0
2018-02-06 16:04:00,6523.50,0.0,0.0,False,,0.00,0.0
2018-02-06 16:12:00,6587.00,0.0,0.0,False,,0.00,0.0
2018-02-06 16:19:00,6542.75,0.0,0.0,False,,0.00,0.0
2018-02-06 16:25:00,6499.00,0.0,0.0,False,,0.00,0.0
...,...,...,...,...,...,...,...
2019-09-04 17:08:00,7676.50,1.0,0.0,False,,0.00,7655.0
2019-09-04 17:32:00,7685.00,1.0,0.0,False,,0.00,7655.0
2019-09-04 18:03:00,7697.25,1.0,0.0,False,,0.00,7655.0
2019-09-04 18:31:00,7703.75,1.0,0.0,False,,0.00,7655.0
NaT,NaN,NaN,NaN,False,,-7703.75,0.0

In [15]:
-pnl.price.sum() * multiplier

34460.0

In [16]:
pnl = pnl[pnl.price != 0]
pnl['close'] = pnl.price.shift(-1)
pnl = pnl[pnl.reason == 'entry']
pnl['pnl'] = -(pnl.entry + pnl.close) * multiplier
pnl['net_pnl'] = pnl.pnl - 2 * pnl.commission
pnl['cum_pnl'] = pnl.pnl.cumsum()
pnl['net_cum_pnl'] = pnl.net_pnl.cumsum()
pnl['balance'] = bankroll + pnl.net_cum_pnl
pnl

,open,positions,commission,mark,reason,price,entry,close,pnl,net_pnl,cum_pnl,net_cum_pnl,balance
date,,,,,,,,,,,,,
2018-02-06 21:12:00,6627.00,1.0,2.1,True,entry,6627.00,6627.00,-6619.00,-160.0,-164.2,-160.0,-164.2,14835.8
2018-02-07 19:29:00,6611.25,-1.0,2.1,True,entry,-6611.25,-6611.25,6353.00,5165.0,5160.8,5005.0,4996.6,19996.6
2018-02-09 21:53:00,6430.25,1.0,2.1,True,entry,6430.25,6430.25,-6488.00,1155.0,1150.8,6160.0,6147.4,21147.4
2018-02-14 16:32:00,6606.25,1.0,2.1,True,entry,6606.25,6606.25,-6788.25,3640.0,3635.8,9800.0,9783.2,24783.2
2018-02-20 17:40:00,6819.25,1.0,2.1,True,entry,6819.25,6819.25,-6792.75,-530.0,-534.2,9270.0,9249.0,24249.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-29 10:24:00,7645.75,1.0,2.1,True,entry,7645.75,7645.75,-7685.00,785.0,780.8,35695.0,34069.6,49069.6
2019-09-02 04:49:00,7630.25,-1.0,2.1,True,entry,-7630.25,-7630.25,7667.25,-740.0,-744.2,34955.0,33325.4,48325.4
2019-09-03 00:18:00,7603.00,-1.0,2.1,True,entry,-7603.00,-7603.00,7631.00,-560.0,-564.2,34395.0,32761.2,47761.2
2019-09-03 20:11:00,7594.25,-1.0,2.1,True,entry,-7594.25,-7594.25,7639.75,-910.0,-914.2,33485.0,31847.0,46847.0
2019-09-04 07:33:00,7655.00,1.0,2.1,True,entry,7655.00,7655.00,-7703.75,975.0,970.8,34460.0,32817.8,47817.8

In [17]:
pnl.pnl.sum()

34460.0

In [18]:
pnl.net_pnl.sum()

32817.8

In [19]:
# percentage of winning transactions
win_pct = round(pnl[pnl.pnl > 0].pnl.count() / pnl.pnl.count(), 4)
win_pct

0.2967

In [20]:
# avg. win,  avg. lose, ratio
avg_win = round(pnl[pnl.pnl > 0].pnl.mean(), 2)
avg_lose = round(pnl[pnl.pnl < 0].pnl.mean(), 2)
ratio = round(abs(avg_win / avg_lose), 2)
avg_win, avg_lose, ratio

(1775.65, -623.69, 2.85)

In [21]:
# transaction EV
ev = win_pct * avg_win + (1 - win_pct) * avg_lose
ev

88.19417799999997

In [22]:
# number of transactions
pnl.pnl.count()

391

In [23]:
pnl.pnl.count() * ev

34483.92359799999

In [24]:
pnl.pnl.min(), pnl.pnl.max(), round(abs(pnl.pnl.max() / pnl.pnl.min()), 1)

(-1685.0, 5545.0, 3.3)

In [25]:
daily = pnl.resample('D').last()
daily['return'] = daily.balance.pct_change()

In [26]:
data.commission.sum()

1640.1000000000001

In [27]:
perf_stats(daily['return'])

Annual return          0.668676
Cumulative returns     2.223136
Annual volatility      0.568602
Sharpe ratio           1.168180
Calmar ratio           1.717111
Stability              0.657795
Max drawdown          -0.389419
Omega ratio            1.378338
Sortino ratio          2.570456
Skew                        NaN
Kurtosis                    NaN
Tail ratio             2.108099
Daily value at risk   -0.069001
dtype: float64

In [28]:
data.price.count()

11916

In [29]:
data[data.price != 0].price.count()

782