In [25]:
from arctic import Arctic, CHUNK_STORE
import pandas as pd

In [23]:
store = Arctic('localhost')

In [24]:
store.list_libraries()

[]

In [26]:
store.initialize_library('ib.history', lib_type=CHUNK_STORE)
lib = store['ib.history']

WARNING:arctic.chunkstore.chunkstore:Library created, but couldn't enable sharding: no such command: 'enablesharding'. This is OK if you're not 'admin'

In [27]:
data = pd.read_pickle('/home/tomek/ib_tools/notebooks/minute_NQ_cont_non_active_included.pickle')
data

,open,high,low,close,volume,average,barCount
date,,,,,,,
2016-12-01 07:26:00,4818.00,4818.00,4818.00,4818.00,5,4818.000,4
2016-12-01 07:27:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
2016-12-01 07:28:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
2016-12-01 07:29:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
2016-12-01 07:30:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
...,...,...,...,...,...,...,...
2019-09-04 18:27:00,7695.50,7696.00,7694.75,7695.00,369,7695.475,178
2019-09-04 18:28:00,7695.00,7695.50,7694.75,7695.00,173,7695.025,72
2019-09-04 18:29:00,7695.00,7695.75,7694.50,7695.00,195,7695.125,87
2019-09-04 18:30:00,7695.00,7698.00,7694.25,7697.50,531,7696.675,248
2019-09-04 18:31:00,7697.75,7697.75,7697.00,7697.25,72,7697.375,41

In [28]:
data1 = data.iloc[100000:-50000]
data1

,open,high,low,close,volume,average,barCount
date,,,,,,,
2017-06-06 01:14:00,5888.75,5888.75,5888.75,5888.75,1,5888.75,1
2017-06-06 01:15:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:16:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:17:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:18:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
...,...,...,...,...,...,...,...
2019-07-16 00:22:00,7982.75,7983.00,7982.50,7982.75,11,7982.85,5
2019-07-16 00:23:00,7982.50,7983.00,7982.50,7983.00,9,7982.80,6
2019-07-16 00:24:00,7983.00,7983.00,7983.00,7983.00,3,7983.00,2
2019-07-16 00:25:00,7982.75,7983.50,7982.75,7983.50,14,7983.35,13
2019-07-16 00:26:00,7983.25,7983.25,7983.25,7983.25,7,7983.25,3

In [32]:
lib.write('NQ', data1, metadata={'source': 'history', 'type': 'continuous'})

In [35]:
item = lib.read('NQ')

In [38]:
item

,open,high,low,close,volume,average,barCount
date,,,,,,,
2017-06-06 01:14:00,5888.75,5888.75,5888.75,5888.75,1,5888.75,1
2017-06-06 01:15:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:16:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:17:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:18:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
...,...,...,...,...,...,...,...
2019-07-16 00:22:00,7982.75,7983.00,7982.50,7982.75,11,7982.85,5
2019-07-16 00:23:00,7982.50,7983.00,7982.50,7983.00,9,7982.80,6
2019-07-16 00:24:00,7983.00,7983.00,7983.00,7983.00,3,7983.00,2
2019-07-16 00:25:00,7982.75,7983.50,7982.75,7983.50,14,7983.35,13
2019-07-16 00:26:00,7983.25,7983.25,7983.25,7983.25,7,7983.25,3

In [39]:
lib.append('NQ', data.iloc[-50000:])

In [40]:
lib.read('NQ')

,open,high,low,close,volume,average,barCount
date,,,,,,,
2017-06-06 01:14:00,5888.75,5888.75,5888.75,5888.75,1,5888.750,1
2017-06-06 01:15:00,5888.75,5888.75,5888.75,5888.75,0,5888.750,0
2017-06-06 01:16:00,5888.75,5888.75,5888.75,5888.75,0,5888.750,0
2017-06-06 01:17:00,5888.75,5888.75,5888.75,5888.75,0,5888.750,0
2017-06-06 01:18:00,5888.75,5888.75,5888.75,5888.75,0,5888.750,0
...,...,...,...,...,...,...,...
2019-09-04 18:27:00,7695.50,7696.00,7694.75,7695.00,369,7695.475,178
2019-09-04 18:28:00,7695.00,7695.50,7694.75,7695.00,173,7695.025,72
2019-09-04 18:29:00,7695.00,7695.75,7694.50,7695.00,195,7695.125,87
2019-09-04 18:30:00,7695.00,7698.00,7694.25,7697.50,531,7696.675,248
2019-09-04 18:31:00,7697.75,7697.75,7697.00,7697.25,72,7697.375,41

In [44]:
lib.read('NQ')['20190716':].head(30)

,open,high,low,close,volume,average,barCount
date,,,,,,,
2019-07-16 00:00:00,7982.75,7984.75,7981.25,7981.50,137,7983.000,85
2019-07-16 00:01:00,7982.00,7982.25,7981.25,7982.00,38,7981.700,30
2019-07-16 00:02:00,7982.00,7984.00,7982.00,7983.50,102,7982.950,67
2019-07-16 00:03:00,7983.25,7983.75,7983.00,7983.75,26,7983.450,23
2019-07-16 00:04:00,7984.00,7984.50,7983.50,7983.50,21,7983.975,16
2019-07-16 00:05:00,7983.75,7984.00,7983.25,7983.75,17,7983.625,13
2019-07-16 00:06:00,7983.75,7984.25,7983.75,7984.00,9,7984.000,8
2019-07-16 00:07:00,7984.00,7984.50,7984.00,7984.50,10,7984.150,10
2019-07-16 00:08:00,7984.50,7984.75,7984.25,7984.75,13,7984.525,11
2019-07-16 00:09:00,7984.50,7985.25,7984.50,7985.00,23,7984.950,9
2019-07-16 00:10:00,7985.25,7985.25,7984.00,7984.00,17,7984.375,13
2019-07-16 00:11:00,7984.00,7984.50,7984.00,7984.00,11,7984.175,9
2019-07-16 00:12:00,7984.25,7984.25,7983.50,7983.50,7,7983.725,7
2019-07-16 00:13:00,7983.50,7983.75,7983.50,7983.50,10,7983.550,7
2019-07-16 00:14:00,7983.00,7984.25,7983.00,7983.50,17,7983.750,12
2019-07-16 00:15:00,7983.00,7983.25,7982.00,7982.25,47,7982.550,28
2019-07-16 00:16:00,7982.00,7982.25,7982.00,7982.25,6,7982.175,3
2019-07-16 00:17:00,7982.00,7982.25,7981.75,7982.25,18,7982.000,14
2019-07-16 00:18:00,7982.25,7983.75,7982.25,7982.75,47,7983.200,29
2019-07-16 00:19:00,7982.25,7982.25,7981.75,7981.75,8,7982.025,7
2019-07-16 00:20:00,7982.25,7982.50,7982.00,7982.00,9,7982.250,7
2019-07-16 00:21:00,7982.50,7982.50,7982.25,7982.25,9,7982.450,6
2019-07-16 00:22:00,7982.75,7983.00,7982.50,7982.75,11,7982.850,5
2019-07-16 00:23:00,7982.50,7983.00,7982.50,7983.00,9,7982.800,6
2019-07-16 00:24:00,7983.00,7983.00,7983.00,7983.00,3,7983.000,2
2019-07-16 00:25:00,7982.75,7983.50,7982.75,7983.50,14,7983.350,13
2019-07-16 00:26:00,7983.25,7983.25,7983.25,7983.25,7,7983.250,3
2019-07-16 00:27:00,7983.25,7983.25,7982.75,7983.25,8,7983.000,4
2019-07-16 00:28:00,7983.25,7983.25,7982.75,7983.25,12,7982.975,5
2019-07-16 00:29:00,7983.25,7983.25,7982.75,7982.75,8,7982.875,7

In [45]:
lib.append('NQ', data.iloc[:100000])

In [46]:
lib.read('NQ')

,open,high,low,close,volume,average,barCount
date,,,,,,,
2016-12-01 07:26:00,4818.00,4818.00,4818.00,4818.00,5,4818.000,4
2016-12-01 07:27:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
2016-12-01 07:28:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
2016-12-01 07:29:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
2016-12-01 07:30:00,4818.00,4818.00,4818.00,4818.00,0,4818.000,0
...,...,...,...,...,...,...,...
2019-09-04 18:27:00,7695.50,7696.00,7694.75,7695.00,369,7695.475,178
2019-09-04 18:28:00,7695.00,7695.50,7694.75,7695.00,173,7695.025,72
2019-09-04 18:29:00,7695.00,7695.75,7694.50,7695.00,195,7695.125,87
2019-09-04 18:30:00,7695.00,7698.00,7694.25,7697.50,531,7696.675,248
2019-09-04 18:31:00,7697.75,7697.75,7697.00,7697.25,72,7697.375,41

In [51]:
lib.read('NQ')['20170606 01':].head(25)

,open,high,low,close,volume,average,barCount
date,,,,,,,
2017-06-06 01:00:00,5889.75,5889.75,5889.75,5889.75,1,5889.75,1
2017-06-06 01:01:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:02:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:03:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:04:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:05:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:06:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:07:00,5889.75,5889.75,5889.75,5889.75,0,5889.75,0
2017-06-06 01:08:00,5889.00,5889.00,5889.00,5889.00,3,5889.00,1
2017-06-06 01:09:00,5889.00,5889.00,5889.00,5889.00,0,5889.00,0
2017-06-06 01:10:00,5889.00,5889.00,5889.00,5889.00,0,5889.00,0
2017-06-06 01:11:00,5889.00,5889.00,5889.00,5889.00,0,5889.00,0
2017-06-06 01:12:00,5889.00,5889.00,5889.00,5889.00,0,5889.00,0
2017-06-06 01:13:00,5889.00,5889.00,5889.00,5889.00,0,5889.00,0
2017-06-06 01:14:00,5888.75,5888.75,5888.75,5888.75,1,5888.75,1
2017-06-06 01:15:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:16:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:17:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:18:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:19:00,5888.75,5888.75,5888.75,5888.75,0,5888.75,0
2017-06-06 01:20:00,5888.50,5888.50,5888.50,5888.50,1,5888.50,1
2017-06-06 01:21:00,5888.50,5888.50,5888.50,5888.50,0,5888.50,0
2017-06-06 01:22:00,5888.50,5888.50,5888.50,5888.50,0,5888.50,0
2017-06-06 01:23:00,5888.50,5888.50,5888.50,5888.50,0,5888.50,0
2017-06-06 01:24:00,5888.50,5888.50,5888.50,5888.50,0,5888.50,0

In [53]:
list(lib.get_chunk_ranges('NQ'))

[(b'2016-12-01 00:00:00', b'2016-12-01 23:59:59.999000'),
 (b'2016-12-08 00:00:00', b'2016-12-08 23:59:59.999000'),
 (b'2016-12-13 00:00:00', b'2016-12-13 23:59:59.999000'),
 (b'2016-12-14 00:00:00', b'2016-12-14 23:59:59.999000'),
 (b'2016-12-15 00:00:00', b'2016-12-15 23:59:59.999000'),
 (b'2016-12-16 00:00:00', b'2016-12-16 23:59:59.999000'),
 (b'2016-12-19 00:00:00', b'2016-12-19 23:59:59.999000'),
 (b'2016-12-20 00:00:00', b'2016-12-20 23:59:59.999000'),
 (b'2016-12-21 00:00:00', b'2016-12-21 23:59:59.999000'),
 (b'2016-12-27 00:00:00', b'2016-12-27 23:59:59.999000'),
 (b'2016-12-29 00:00:00', b'2016-12-29 23:59:59.999000'),
 (b'2016-12-30 00:00:00', b'2016-12-30 23:59:59.999000'),
 (b'2017-01-06 00:00:00', b'2017-01-06 23:59:59.999000'),
 (b'2017-01-09 00:00:00', b'2017-01-09 23:59:59.999000'),
 (b'2017-01-10 00:00:00', b'2017-01-10 23:59:59.999000'),
 (b'2017-01-11 00:00:00', b'2017-01-11 23:59:59.999000'),
 (b'2017-01-12 00:00:00', b'2017-01-12 23:59:59.999000'),
 (b'2017-01-13 00:00:00', b'2017-01-13 23:59:59.999000'),
 (b'2017-01-17 00:00:00', b'2017-01-17 23:59:59.999000'),
 (b'2017-01-18 00:00:00', b'2017-01-18 23:59:59.999000'),
 (b'2017-01-19 00:00:00', b'2017-01-19 23:59:59.999000'),
 (b'2017-01-20 00:00:00', b'2017-01-20 23:59:59.999000'),
 (b'2017-01-23 00:00:00', b'2017-01-23 23:59:59.999000'),
 (b'2017-01-24 00:00:00', b'2017-01-24 23:59:59.999000'),
 (b'2017-01-30 00:00:00', b'2017-01-30 23:59:59.999000'),
 (b'2017-01-31 00:00:00', b'2017-01-31 23:59:59.999000'),
 (b'2017-02-01 00:00:00', b'2017-02-01 23:59:59.999000'),
 (b'2017-02-02 00:00:00', b'2017-02-02 23:59:59.999000'),
 (b'2017-02-03 00:00:00', b'2017-02-03 23:59:59.999000'),
 (b'2017-02-06 00:00:00', b'2017-02-06 23:59:59.999000'),
 (b'2017-02-07 00:00:00', b'2017-02-07 23:59:59.999000'),
 (b'2017-02-08 00:00:00', b'2017-02-08 23:59:59.999000'),
 (b'2017-02-09 00:00:00', b'2017-02-09 23:59:59.999000'),
 (b'2017-02-10 00:00:00', b'2017-02-10 23:59:59.999000'),
 (b'2017-02-13 00:00:00', b'2017-02-13 23:59:59.999000'),
 (b'2017-02-15 00:00:00', b'2017-02-15 23:59:59.999000'),
 (b'2017-02-16 00:00:00', b'2017-02-16 23:59:59.999000'),
 (b'2017-02-17 00:00:00', b'2017-02-17 23:59:59.999000'),
 (b'2017-02-21 00:00:00', b'2017-02-21 23:59:59.999000'),
 (b'2017-02-23 00:00:00', b'2017-02-23 23:59:59.999000'),
 (b'2017-02-24 00:00:00', b'2017-02-24 23:59:59.999000'),
 (b'2017-02-27 00:00:00', b'2017-02-27 23:59:59.999000'),
 (b'2017-03-01 00:00:00', b'2017-03-01 23:59:59.999000'),
 (b'2017-03-02 00:00:00', b'2017-03-02 23:59:59.999000'),
 (b'2017-03-03 00:00:00', b'2017-03-03 23:59:59.999000'),
 (b'2017-03-06 00:00:00', b'2017-03-06 23:59:59.999000'),
 (b'2017-03-07 00:00:00', b'2017-03-07 23:59:59.999000'),
 (b'2017-03-08 00:00:00', b'2017-03-08 23:59:59.999000'),
 (b'2017-03-09 00:00:00', b'2017-03-09 23:59:59.999000'),
 (b'2017-03-10 00:00:00', b'2017-03-10 23:59:59.999000'),
 (b'2017-03-13 00:00:00', b'2017-03-13 23:59:59.999000'),
 (b'2017-03-14 00:00:00', b'2017-03-14 23:59:59.999000'),
 (b'2017-03-15 00:00:00', b'2017-03-15 23:59:59.999000'),
 (b'2017-03-16 00:00:00', b'2017-03-16 23:59:59.999000'),
 (b'2017-03-17 00:00:00', b'2017-03-17 23:59:59.999000'),
 (b'2017-03-20 00:00:00', b'2017-03-20 23:59:59.999000'),
 (b'2017-03-21 00:00:00', b'2017-03-21 23:59:59.999000'),
 (b'2017-03-22 00:00:00', b'2017-03-22 23:59:59.999000'),
 (b'2017-03-23 00:00:00', b'2017-03-23 23:59:59.999000'),
 (b'2017-03-24 00:00:00', b'2017-03-24 23:59:59.999000'),
 (b'2017-03-27 00:00:00', b'2017-03-27 23:59:59.999000'),
 (b'2017-03-28 00:00:00', b'2017-03-28 23:59:59.999000'),
 (b'2017-03-29 00:00:00', b'2017-03-29 23:59:59.999000'),
 (b'2017-03-30 00:00:00', b'2017-03-30 23:59:59.999000'),
 (b'2017-03-31 00:00:00', b'2017-03-31 23:59:59.999000'),
 (b'2017-04-03 00:00:00', b'2017-04-03 23:59:59.999000'),
 (b'2017-04-04 00:00:00', b'2017-04-04 23:59:59.999000'),
 (b'2017-04-05 00:00:00', b'2017-04-05 23:59:59.999000'),
 (b'2017-04-06 00:00:00', b'2017-04-06 23:59:59.999000'),
 (b'2017-04-07 00:00:00', b'2017-04-07 23:59:59.999000'),
 (b'2017-04-10 00:00:00', b'2017-04-10 23:59:59.999000'),
 (b'2017-04-11 00:00:00', b'2017-04-11 23:59:59.999000'),
 (b'2017-04-12 00:00:00', b'2017-04-12 23:59:59.999000'),
 (b'2017-04-13 00:00:00', b'2017-04-13 23:59:59.999000'),
 (b'2017-04-17 00:00:00', b'2017-04-17 23:59:59.999000'),
 (b'2017-04-18 00:00:00', b'2017-04-18 23:59:59.999000'),
 (b'2017-04-19 00:00:00', b'2017-04-19 23:59:59.999000'),
 (b'2017-04-20 00:00:00', b'2017-04-20 23:59:59.999000'),
 (b'2017-04-21 00:00:00', b'2017-04-21 23:59:59.999000'),
 (b'2017-04-24 00:00:00', b'2017-04-24 23:59:59.999000'),
 (b'2017-04-25 00:00:00', b'2017-04-25 23:59:59.999000'),
 (b'2017-04-26 00:00:00', b'2017-04-26 23:59:59.999000'),
 (b'2017-04-27 00:00:00', b'2017-04-27 23:59:59.999000'),
 (b'2017-04-28 00:00:00', b'2017-04-28 23:59:59.999000'),
 (b'2017-05-01 00:00:00', b'2017-05-01 23:59:59.999000'),
 (b'2017-05-02 00:00:00', b'2017-05-02 23:59:59.999000'),
 (b'2017-05-03 00:00:00', b'2017-05-03 23:59:59.999000'),
 (b'2017-05-04 00:00:00', b'2017-05-04 23:59:59.999000'),
 (b'2017-05-05 00:00:00', b'2017-05-05 23:59:59.999000'),
 (b'2017-05-08 00:00:00', b'2017-05-08 23:59:59.999000'),
 (b'2017-05-09 00:00:00', b'2017-05-09 23:59:59.999000'),
 (b'2017-05-10 00:00:00', b'2017-05-10 23:59:59.999000'),
 (b'2017-05-11 00:00:00', b'2017-05-11 23:59:59.999000'),
 (b'2017-05-12 00:00:00', b'2017-05-12 23:59:59.999000'),
 (b'2017-05-15 00:00:00', b'2017-05-15 23:59:59.999000'),
 (b'2017-05-16 00:00:00', b'2017-05-16 23:59:59.999000'),
 (b'2017-05-17 00:00:00', b'2017-05-17 23:59:59.999000'),
 (b'2017-05-18 00:00:00', b'2017-05-18 23:59:59.999000'),
 (b'2017-05-19 00:00:00', b'2017-05-19 23:59:59.999000'),
 (b'2017-05-22 00:00:00', b'2017-05-22 23:59:59.999000'),
 (b'2017-05-23 00:00:00', b'2017-05-23 23:59:59.999000'),
 (b'2017-05-24 00:00:00', b'2017-05-24 23:59:59.999000'),
 (b'2017-05-25 00:00:00', b'2017-05-25 23:59:59.999000'),
 (b'2017-05-26 00:00:00', b'2017-05-26 23:59:59.999000'),
 (b'2017-05-29 00:00:00', b'2017-05-29 23:59:59.999000'),
 (b'2017-05-30 00:00:00', b'2017-05-30 23:59:59.999000'),
 (b'2017-05-31 00:00:00', b'2017-05-31 23:59:59.999000'),
 (b'2017-06-01 00:00:00', b'2017-06-01 23:59:59.999000'),
 (b'2017-06-02 00:00:00', b'2017-06-02 23:59:59.999000'),
 (b'2017-06-05 00:00:00', b'2017-06-05 23:59:59.999000'),
 (b'2017-06-06 00:00:00', b'2017-06-06 23:59:59.999000'),
 (b'2017-06-07 00:00:00', b'2017-06-07 23:59:59.999000'),
 (b'2017-06-08 00:00:00', b'2017-06-08 23:59:59.999000'),
 (b'2017-06-09 00:00:00', b'2017-06-09 23:59:59.999000'),
 (b'2017-06-12 00:00:00', b'2017-06-12 23:59:59.999000'),
 (b'2017-06-13 00:00:00', b'2017-06-13 23:59:59.999000'),
 (b'2017-06-14 00:00:00', b'2017-06-14 23:59:59.999000'),
 (b'2017-06-15 00:00:00', b'2017-06-15 23:59:59.999000'),
 (b'2017-06-16 00:00:00', b'2017-06-16 23:59:59.999000'),
 (b'2017-06-19 00:00:00', b'2017-06-19 23:59:59.999000'),
 (b'2017-06-20 00:00:00', b'2017-06-20 23:59:59.999000'),
 (b'2017-06-21 00:00:00', b'2017-06-21 23:59:59.999000'),
 (b'2017-06-22 00:00:00', b'2017-06-22 23:59:59.999000'),
 (b'2017-06-23 00:00:00', b'2017-06-23 23:59:59.999000'),
 (b'2017-06-26 00:00:00', b'2017-06-26 23:59:59.999000'),
 (b'2017-06-27 00:00:00', b'2017-06-27 23:59:59.999000'),
 (b'2017-06-28 00:00:00', b'2017-06-28 23:59:59.999000'),
 (b'2017-06-29 00:00:00', b'2017-06-29 23:59:59.999000'),
 (b'2017-06-30 00:00:00', b'2017-06-30 23:59:59.999000'),
 (b'2017-07-03 00:00:00', b'2017-07-03 23:59:59.999000'),
 (b'2017-07-04 00:00:00', b'2017-07-04 23:59:59.999000'),
 (b'2017-07-05 00:00:00', b'2017-07-05 23:59:59.999000'),
 (b'2017-07-06 00:00:00', b'2017-07-06 23:59:59.999000'),
 (b'2017-07-07 00:00:00', b'2017-07-07 23:59:59.999000'),
 (b'2017-07-10 00:00:00', b'2017-07-10 23:59:59.999000'),
 (b'2017-07-11 00:00:00', b'2017-07-11 23:59:59.999000'),
 (b'2017-07-12 00:00:00', b'2017-07-12 23:59:59.999000'),
 (b'2017-07-13 00:00:00', b'2017-07-13 23:59:59.999000'),
 (b'2017-07-14 00:00:00', b'2017-07-14 23:59:59.999000'),
 (b'2017-07-17 00:00:00', b'2017-07-17 23:59:59.999000'),
 (b'2017-07-18 00:00:00', b'2017-07-18 23:59:59.999000'),
 (b'2017-07-19 00:00:00', b'2017-07-19 23:59:59.999000'),
 (b'2017-07-20 00:00:00', b'2017-07-20 23:59:59.999000'),
 (b'2017-07-21 00:00:00', b'2017-07-21 23:59:59.999000'),
 (b'2017-07-24 00:00:00', b'2017-07-24 23:59:59.999000'),
 (b'2017-07-25 00:00:00', b'2017-07-25 23:59:59.999000'),
 (b'2017-07-26 00:00:00', b'2017-07-26 23:59:59.999000'),
 (b'2017-07-27 00:00:00', b'2017-07-27 23:59:59.999000'),
 (b'2017-07-28 00:00:00', b'2017-07-28 23:59:59.999000'),
 (b'2017-07-31 00:00:00', b'2017-07-31 23:59:59.999000'),
 (b'2017-08-01 00:00:00', b'2017-08-01 23:59:59.999000'),
 (b'2017-08-02 00:00:00', b'2017-08-02 23:59:59.999000'),
 (b'2017-08-03 00:00:00', b'2017-08-03 23:59:59.999000'),
 (b'2017-08-04 00:00:00', b'2017-08-04 23:59:59.999000'),
 (b'2017-08-07 00:00:00', b'2017-08-07 23:59:59.999000'),
 (b'2017-08-08 00:00:00', b'2017-08-08 23:59:59.999000'),
 (b'2017-08-09 00:00:00', b'2017-08-09 23:59:59.999000'),
 (b'2017-08-10 00:00:00', b'2017-08-10 23:59:59.999000'),
 (b'2017-08-11 00:00:00', b'2017-08-11 23:59:59.999000'),
 (b'2017-08-14 00:00:00', b'2017-08-14 23:59:59.999000'),
 (b'2017-08-15 00:00:00', b'2017-08-15 23:59:59.999000'),
 (b'2017-08-16 00:00:00', b'2017-08-16 23:59:59.999000'),
 (b'2017-08-17 00:00:00', b'2017-08-17 23:59:59.999000'),
 (b'2017-08-18 00:00:00', b'2017-08-18 23:59:59.999000'),
 (b'2017-08-21 00:00:00', b'2017-08-21 23:59:59.999000'),
 (b'2017-08-22 00:00:00', b'2017-08-22 23:59:59.999000'),
 (b'2017-08-23 00:00:00', b'2017-08-23 23:59:59.999000'),
 (b'2017-08-24 00:00:00', b'2017-08-24 23:59:59.999000'),
 (b'2017-08-25 00:00:00', b'2017-08-25 23:59:59.999000'),
 (b'2017-08-28 00:00:00', b'2017-08-28 23:59:59.999000'),
 (b'2017-08-29 00:00:00', b'2017-08-29 23:59:59.999000'),
 (b'2017-08-30 00:00:00', b'2017-08-30 23:59:59.999000'),
 (b'2017-08-31 00:00:00', b'2017-08-31 23:59:59.999000'),
 (b'2017-09-01 00:00:00', b'2017-09-01 23:59:59.999000'),
 (b'2017-09-04 00:00:00', b'2017-09-04 23:59:59.999000'),
 (b'2017-09-05 00:00:00', b'2017-09-05 23:59:59.999000'),
 (b'2017-09-06 00:00:00', b'2017-09-06 23:59:59.999000'),
 (b'2017-09-07 00:00:00', b'2017-09-07 23:59:59.999000'),
 (b'2017-09-08 00:00:00', b'2017-09-08 23:59:59.999000'),
 (b'2017-09-11 00:00:00', b'2017-09-11 23:59:59.999000'),
 (b'2017-09-12 00:00:00', b'2017-09-12 23:59:59.999000'),
 (b'2017-09-13 00:00:00', b'2017-09-13 23:59:59.999000'),
 (b'2017-09-14 00:00:00', b'2017-09-14 23:59:59.999000'),
 (b'2017-09-15 00:00:00', b'2017-09-15 23:59:59.999000'),
 (b'2017-09-18 00:00:00', b'2017-09-18 23:59:59.999000'),
 (b'2017-09-19 00:00:00', b'2017-09-19 23:59:59.999000'),
 (b'2017-09-20 00:00:00', b'2017-09-20 23:59:59.999000'),
 (b'2017-09-21 00:00:00', b'2017-09-21 23:59:59.999000'),
 (b'2017-09-22 00:00:00', b'2017-09-22 23:59:59.999000'),
 (b'2017-09-25 00:00:00', b'2017-09-25 23:59:59.999000'),
 (b'2017-09-26 00:00:00', b'2017-09-26 23:59:59.999000'),
 (b'2017-09-27 00:00:00', b'2017-09-27 23:59:59.999000'),
 (b'2017-09-28 00:00:00', b'2017-09-28 23:59:59.999000'),
 (b'2017-09-29 00:00:00', b'2017-09-29 23:59:59.999000'),
 (b'2017-10-02 00:00:00', b'2017-10-02 23:59:59.999000'),
 (b'2017-10-03 00:00:00', b'2017-10-03 23:59:59.999000'),
 (b'2017-10-04 00:00:00', b'2017-10-04 23:59:59.999000'),
 (b'2017-10-05 00:00:00', b'2017-10-05 23:59:59.999000'),
 (b'2017-10-06 00:00:00', b'2017-10-06 23:59:59.999000'),
 (b'2017-10-09 00:00:00', b'2017-10-09 23:59:59.999000'),
 (b'2017-10-10 00:00:00', b'2017-10-10 23:59:59.999000'),
 (b'2017-10-11 00:00:00', b'2017-10-11 23:59:59.999000'),
 (b'2017-10-12 00:00:00', b'2017-10-12 23:59:59.999000'),
 (b'2017-10-13 00:00:00', b'2017-10-13 23:59:59.999000'),
 (b'2017-10-16 00:00:00', b'2017-10-16 23:59:59.999000'),
 (b'2017-10-17 00:00:00', b'2017-10-17 23:59:59.999000'),
 (b'2017-10-18 00:00:00', b'2017-10-18 23:59:59.999000'),
 (b'2017-10-19 00:00:00', b'2017-10-19 23:59:59.999000'),
 (b'2017-10-20 00:00:00', b'2017-10-20 23:59:59.999000'),
 (b'2017-10-23 00:00:00', b'2017-10-23 23:59:59.999000'),
 (b'2017-10-24 00:00:00', b'2017-10-24 23:59:59.999000'),
 (b'2017-10-25 00:00:00', b'2017-10-25 23:59:59.999000'),
 (b'2017-10-26 00:00:00', b'2017-10-26 23:59:59.999000'),
 (b'2017-10-27 00:00:00', b'2017-10-27 23:59:59.999000'),
 (b'2017-10-29 00:00:00', b'2017-10-29 23:59:59.999000'),
 (b'2017-10-30 00:00:00', b'2017-10-30 23:59:59.999000'),
 (b'2017-10-31 00:00:00', b'2017-10-31 23:59:59.999000'),
 (b'2017-11-01 00:00:00', b'2017-11-01 23:59:59.999000'),
 (b'2017-11-02 00:00:00', b'2017-11-02 23:59:59.999000'),
 (b'2017-11-03 00:00:00', b'2017-11-03 23:59:59.999000'),
 (b'2017-11-06 00:00:00', b'2017-11-06 23:59:59.999000'),
 (b'2017-11-07 00:00:00', b'2017-11-07 23:59:59.999000'),
 (b'2017-11-08 00:00:00', b'2017-11-08 23:59:59.999000'),
 (b'2017-11-09 00:00:00', b'2017-11-09 23:59:59.999000'),
 (b'2017-11-10 00:00:00', b'2017-11-10 23:59:59.999000'),
 (b'2017-11-13 00:00:00', b'2017-11-13 23:59:59.999000'),
 (b'2017-11-14 00:00:00', b'2017-11-14 23:59:59.999000'),
 (b'2017-11-15 00:00:00', b'2017-11-15 23:59:59.999000'),
 (b'2017-11-16 00:00:00', b'2017-11-16 23:59:59.999000'),
 (b'2017-11-17 00:00:00', b'2017-11-17 23:59:59.999000'),
 (b'2017-11-20 00:00:00', b'2017-11-20 23:59:59.999000'),
 (b'2017-11-21 00:00:00', b'2017-11-21 23:59:59.999000'),
 (b'2017-11-22 00:00:00', b'2017-11-22 23:59:59.999000'),
 (b'2017-11-23 00:00:00', b'2017-11-23 23:59:59.999000'),
 (b'2017-11-24 00:00:00', b'2017-11-24 23:59:59.999000'),
 (b'2017-11-27 00:00:00', b'2017-11-27 23:59:59.999000'),
 (b'2017-11-28 00:00:00', b'2017-11-28 23:59:59.999000'),
 (b'2017-11-29 00:00:00', b'2017-11-29 23:59:59.999000'),
 (b'2017-11-30 00:00:00', b'2017-11-30 23:59:59.999000'),
 (b'2017-12-01 00:00:00', b'2017-12-01 23:59:59.999000'),
 (b'2017-12-04 00:00:00', b'2017-12-04 23:59:59.999000'),
 (b'2017-12-05 00:00:00', b'2017-12-05 23:59:59.999000'),
 (b'2017-12-06 00:00:00', b'2017-12-06 23:59:59.999000'),
 (b'2017-12-07 00:00:00', b'2017-12-07 23:59:59.999000'),
 (b'2017-12-08 00:00:00', b'2017-12-08 23:59:59.999000'),
 (b'2017-12-11 00:00:00', b'2017-12-11 23:59:59.999000'),
 (b'2017-12-12 00:00:00', b'2017-12-12 23:59:59.999000'),
 (b'2017-12-13 00:00:00', b'2017-12-13 23:59:59.999000'),
 (b'2017-12-14 00:00:00', b'2017-12-14 23:59:59.999000'),
 (b'2017-12-15 00:00:00', b'2017-12-15 23:59:59.999000'),
 (b'2017-12-18 00:00:00', b'2017-12-18 23:59:59.999000'),
 (b'2017-12-19 00:00:00', b'2017-12-19 23:59:59.999000'),
 (b'2017-12-20 00:00:00', b'2017-12-20 23:59:59.999000'),
 (b'2017-12-21 00:00:00', b'2017-12-21 23:59:59.999000'),
 (b'2017-12-22 00:00:00', b'2017-12-22 23:59:59.999000'),
 (b'2017-12-26 00:00:00', b'2017-12-26 23:59:59.999000'),
 (b'2017-12-27 00:00:00', b'2017-12-27 23:59:59.999000'),
 (b'2017-12-28 00:00:00', b'2017-12-28 23:59:59.999000'),
 (b'2017-12-29 00:00:00', b'2017-12-29 23:59:59.999000'),
 (b'2018-01-02 00:00:00', b'2018-01-02 23:59:59.999000'),
 (b'2018-01-03 00:00:00', b'2018-01-03 23:59:59.999000'),
 (b'2018-01-04 00:00:00', b'2018-01-04 23:59:59.999000'),
 (b'2018-01-05 00:00:00', b'2018-01-05 23:59:59.999000'),
 (b'2018-01-08 00:00:00', b'2018-01-08 23:59:59.999000'),
 (b'2018-01-09 00:00:00', b'2018-01-09 23:59:59.999000'),
 (b'2018-01-10 00:00:00', b'2018-01-10 23:59:59.999000'),
 (b'2018-01-11 00:00:00', b'2018-01-11 23:59:59.999000'),
 (b'2018-01-12 00:00:00', b'2018-01-12 23:59:59.999000'),
 (b'2018-01-15 00:00:00', b'2018-01-15 23:59:59.999000'),
 (b'2018-01-16 00:00:00', b'2018-01-16 23:59:59.999000'),
 (b'2018-01-17 00:00:00', b'2018-01-17 23:59:59.999000'),
 (b'2018-01-18 00:00:00', b'2018-01-18 23:59:59.999000'),
 (b'2018-01-19 00:00:00', b'2018-01-19 23:59:59.999000'),
 (b'2018-01-22 00:00:00', b'2018-01-22 23:59:59.999000'),
 (b'2018-01-23 00:00:00', b'2018-01-23 23:59:59.999000'),
 (b'2018-01-24 00:00:00', b'2018-01-24 23:59:59.999000'),
 (b'2018-01-25 00:00:00', b'2018-01-25 23:59:59.999000'),
 (b'2018-01-26 00:00:00', b'2018-01-26 23:59:59.999000'),
 (b'2018-01-29 00:00:00', b'2018-01-29 23:59:59.999000'),
 (b'2018-01-30 00:00:00', b'2018-01-30 23:59:59.999000'),
 (b'2018-01-31 00:00:00', b'2018-01-31 23:59:59.999000'),
 (b'2018-02-01 00:00:00', b'2018-02-01 23:59:59.999000'),
 (b'2018-02-02 00:00:00', b'2018-02-02 23:59:59.999000'),
 (b'2018-02-05 00:00:00', b'2018-02-05 23:59:59.999000'),
 (b'2018-02-06 00:00:00', b'2018-02-06 23:59:59.999000'),
 (b'2018-02-07 00:00:00', b'2018-02-07 23:59:59.999000'),
 (b'2018-02-08 00:00:00', b'2018-02-08 23:59:59.999000'),
 (b'2018-02-09 00:00:00', b'2018-02-09 23:59:59.999000'),
 (b'2018-02-12 00:00:00', b'2018-02-12 23:59:59.999000'),
 (b'2018-02-13 00:00:00', b'2018-02-13 23:59:59.999000'),
 (b'2018-02-14 00:00:00', b'2018-02-14 23:59:59.999000'),
 (b'2018-02-15 00:00:00', b'2018-02-15 23:59:59.999000'),
 (b'2018-02-16 00:00:00', b'2018-02-16 23:59:59.999000'),
 (b'2018-02-19 00:00:00', b'2018-02-19 23:59:59.999000'),
 (b'2018-02-20 00:00:00', b'2018-02-20 23:59:59.999000'),
 (b'2018-02-21 00:00:00', b'2018-02-21 23:59:59.999000'),
 (b'2018-02-22 00:00:00', b'2018-02-22 23:59:59.999000'),
 (b'2018-02-23 00:00:00', b'2018-02-23 23:59:59.999000'),
 (b'2018-02-26 00:00:00', b'2018-02-26 23:59:59.999000'),
 (b'2018-02-27 00:00:00', b'2018-02-27 23:59:59.999000'),
 (b'2018-02-28 00:00:00', b'2018-02-28 23:59:59.999000'),
 (b'2018-03-01 00:00:00', b'2018-03-01 23:59:59.999000'),
 (b'2018-03-02 00:00:00', b'2018-03-02 23:59:59.999000'),
 (b'2018-03-05 00:00:00', b'2018-03-05 23:59:59.999000'),
 (b'2018-03-06 00:00:00', b'2018-03-06 23:59:59.999000'),
 (b'2018-03-07 00:00:00', b'2018-03-07 23:59:59.999000'),
 (b'2018-03-08 00:00:00', b'2018-03-08 23:59:59.999000'),
 (b'2018-03-09 00:00:00', b'2018-03-09 23:59:59.999000'),
 (b'2018-03-11 00:00:00', b'2018-03-11 23:59:59.999000'),
 (b'2018-03-12 00:00:00', b'2018-03-12 23:59:59.999000'),
 (b'2018-03-13 00:00:00', b'2018-03-13 23:59:59.999000'),
 (b'2018-03-14 00:00:00', b'2018-03-14 23:59:59.999000'),
 (b'2018-03-15 00:00:00', b'2018-03-15 23:59:59.999000'),
 (b'2018-03-16 00:00:00', b'2018-03-16 23:59:59.999000'),
 (b'2018-03-18 00:00:00', b'2018-03-18 23:59:59.999000'),
 (b'2018-03-19 00:00:00', b'2018-03-19 23:59:59.999000'),
 (b'2018-03-20 00:00:00', b'2018-03-20 23:59:59.999000'),
 (b'2018-03-21 00:00:00', b'2018-03-21 23:59:59.999000'),
 (b'2018-03-22 00:00:00', b'2018-03-22 23:59:59.999000'),
 (b'2018-03-23 00:00:00', b'2018-03-23 23:59:59.999000'),
 (b'2018-03-26 00:00:00', b'2018-03-26 23:59:59.999000'),
 (b'2018-03-27 00:00:00', b'2018-03-27 23:59:59.999000'),
 (b'2018-03-28 00:00:00', b'2018-03-28 23:59:59.999000'),
 (b'2018-03-29 00:00:00', b'2018-03-29 23:59:59.999000'),
 (b'2018-04-02 00:00:00', b'2018-04-02 23:59:59.999000'),
 (b'2018-04-03 00:00:00', b'2018-04-03 23:59:59.999000'),
 (b'2018-04-04 00:00:00', b'2018-04-04 23:59:59.999000'),
 (b'2018-04-05 00:00:00', b'2018-04-05 23:59:59.999000'),
 (b'2018-04-06 00:00:00', b'2018-04-06 23:59:59.999000'),
 (b'2018-04-09 00:00:00', b'2018-04-09 23:59:59.999000'),
 (b'2018-04-10 00:00:00', b'2018-04-10 23:59:59.999000'),
 (b'2018-04-11 00:00:00', b'2018-04-11 23:59:59.999000'),
 (b'2018-04-12 00:00:00', b'2018-04-12 23:59:59.999000'),
 (b'2018-04-13 00:00:00', b'2018-04-13 23:59:59.999000'),
 (b'2018-04-16 00:00:00', b'2018-04-16 23:59:59.999000'),
 (b'2018-04-17 00:00:00', b'2018-04-17 23:59:59.999000'),
 (b'2018-04-18 00:00:00', b'2018-04-18 23:59:59.999000'),
 (b'2018-04-19 00:00:00', b'2018-04-19 23:59:59.999000'),
 (b'2018-04-20 00:00:00', b'2018-04-20 23:59:59.999000'),
 (b'2018-04-23 00:00:00', b'2018-04-23 23:59:59.999000'),
 (b'2018-04-24 00:00:00', b'2018-04-24 23:59:59.999000'),
 (b'2018-04-25 00:00:00', b'2018-04-25 23:59:59.999000'),
 (b'2018-04-26 00:00:00', b'2018-04-26 23:59:59.999000'),
 (b'2018-04-27 00:00:00', b'2018-04-27 23:59:59.999000'),

In [55]:
lib.get_info('NQ')

{'chunk_count': 698,
 'len': 887853,
 'appended_rows': 1407,
 'metadata': {'columns': ['date',
   'open',
   'high',
   'low',
   'close',
   'volume',
   'average',
   'barCount']},
 'chunker': 'date',
 'chunk_size': 'D',
 'serializer': 'FrameToArray'}

In [56]:
nq_hourly = pd.read_pickle('/home/tomek/ib_tools/notebooks/hourly_NQ0919.pickle')

In [57]:
nq_hourly.head()

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-07-16 15:30:00,7509.25,7509.25,7509.25,7509.25,0,7509.25,0
2018-07-16 16:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.25,0
2018-07-16 17:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.25,0
2018-07-16 18:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.25,0
2018-07-16 19:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.25,0

In [66]:
%%timeit
lib.write('NQ_hour', nq_hourly[50:])

205 ms Â± 2.56 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [67]:
%%timeit
lib.read('NQ_hour')

330 ms Â± 2.6 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [70]:
%%timeit
lib.write('NQ_hour_2', nq_hourly[50:], chunk_size='M')

16.3 ms Â± 54.7 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [71]:
%%timeit
lib.read('NQ_hour_2')

25.5 ms Â± 240 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [72]:
lib.append('NQ_hour_2', nq_hourly[:50])

In [60]:
lib.append('NQ_hour', nq_hourly[:50])

In [61]:
lib.read('NQ_hour')

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-07-16 15:30:00,7509.25,7509.25,7509.25,7509.25,0,7509.250,0
2018-07-16 16:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.250,0
2018-07-16 17:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.250,0
2018-07-16 18:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.250,0
2018-07-16 19:00:00,7509.25,7509.25,7509.25,7509.25,0,7509.250,0
...,...,...,...,...,...,...,...
2019-08-02 20:00:00,7661.25,7695.00,7652.75,7681.50,56300,7679.375,31642
2019-08-02 21:00:00,7681.75,7725.25,7665.75,7701.50,93099,7696.900,48215
2019-08-02 22:00:00,7701.50,7709.00,7691.25,7702.00,9766,7700.125,4636
2019-08-02 22:30:00,7702.00,7709.75,7699.25,7708.00,1581,7705.450,839
2019-08-05 15:30:00,7539.25,7540.75,7481.50,7492.75,73711,7510.575,43014

In [62]:
lib.get_info('NQ')

{'chunk_count': 698,
 'len': 887853,
 'appended_rows': 1407,
 'metadata': {'columns': ['date',
   'open',
   'high',
   'low',
   'close',
   'volume',
   'average',
   'barCount']},
 'chunker': 'date',
 'chunk_size': 'D',
 'serializer': 'FrameToArray'}

In [63]:
lib.list_symbols()

['NQ', 'NQ_hour']