In [117]:
from arctic import Arctic, CHUNK_STORE
from arctic.exceptions import NoDataFoundException
from arctic.date import DateRange
import pandas as pd
from ib_insync import IB, ContFuture, util, Future, Forex, Contract
from typing import Union
import pickle
from datetime import datetime, timedelta

In [130]:
util.startLoop()
ib = IB()
ib.connect(port=4002, clientId=8)

In [131]:
ib.isConnected()

True

In [13]:
nq = ContFuture('NQ', 'globex')

In [14]:
ib.qualifyContracts(nq)

[ContFuture(conId=357283192, symbol='NQ', lastTradeDateOrContractMonth='20200619', multiplier='20', exchange='GLOBEX', currency='USD', localSymbol='NQM0', tradingClass='NQ')]

In [173]:
store = Arctic('localhost')

In [183]:
store.list_libraries()

['TRADES_1 min', 'TRADES_1_min']

In [179]:
store.initialize_library('TRADES_1_min')
lib = store['TRADES_1_min']

WARNING:arctic.store.version_store:Library created, but couldn't enable sharding: no such command: 'enablesharding'. This is OK if you're not 'admin'

In [180]:
type(lib)

arctic.store.version_store.VersionStore

In [181]:
lib.list_symbols()

['CLK0_CONTFUT', 'ESM0_CONTFUT', 'GCJ0_CONTFUT', 'NQM0_CONTFUT', 'edek']

In [191]:
lib.read('NQM0_CONTFUT').data

,open,high,low,close,volume,average,barCount
date,,,,,,,
2019-10-24 00:00:00,7922.75,7933.00,7921.00,7930.25,1235,7926.675,600
2019-10-24 00:01:00,7930.00,7930.00,7926.25,7927.50,219,7927.750,144
2019-10-24 00:02:00,7927.25,7928.00,7925.75,7928.00,173,7926.500,113
2019-10-24 00:03:00,7927.75,7930.25,7927.00,7929.00,207,7928.375,87
2019-10-24 00:04:00,7929.25,7930.00,7927.00,7928.50,167,7928.725,101
...,...,...,...,...,...,...,...
2020-03-26 16:50:00,7730.25,7731.50,7717.75,7724.75,649,7725.000,464
2020-03-26 16:51:00,7725.75,7737.50,7721.75,7722.25,766,7729.525,539
2020-03-26 16:52:00,7723.00,7740.00,7722.25,7735.75,594,7732.600,459
2020-03-26 16:53:00,7736.25,7745.00,7732.75,7737.25,755,7739.300,539
2020-03-26 16:54:00,7737.00,7741.50,7733.25,7738.50,129,7737.225,104

In [188]:
lib.read('NQM0_CONTFUT')

VersionedItem(symbol=NQM0_CONTFUT,library=arctic.TRADES_1_min,data=<class 'pandas.core.frame.DataFrame'>,version=25,metadata={'secType': 'CONTFUT', 'conId': 357283192, 'symbol': 'NQ', 'lastTradeDateOrContractMonth': '20200619', 'multiplier': '20', 'exchange': 'GLOBEX', 'currency': 'USD', 'localSymbol': 'NQM0', 'tradingClass': 'NQ', 'repr': "ContFuture(conId=357283192, symbol='NQ', lastTradeDateOrContractMonth='20200619', multiplier='20', exchange='GLOBEX', currency='USD', localSymbol='NQM0', tradingClass='NQ')", 'object': None},host=localhost)

In [189]:
lib.list_versions('NQM0_CONTFUT')

[{'symbol': 'NQM0_CONTFUT',
  'version': 25,
  'deleted': False,
  'date': datetime.datetime(2020, 3, 26, 16, 4, 4, tzinfo=tzfile('/usr/share/zoneinfo/Europe/Warsaw')),
  'snapshots': []},
 {'symbol': 'NQM0_CONTFUT',
  'version': 24,
  'deleted': False,
  'date': datetime.datetime(2020, 3, 26, 16, 2, 59, tzinfo=tzfile('/usr/share/zoneinfo/Europe/Warsaw')),
  'snapshots': []},
 {'symbol': 'NQM0_CONTFUT',
  'version': 23,
  'deleted': False,
  'date': datetime.datetime(2020, 3, 26, 15, 59, 32, tzinfo=tzfile('/usr/share/zoneinfo/Europe/Warsaw')),
  'snapshots': []},
 {'symbol': 'NQM0_CONTFUT',
  'version': 22,
  'deleted': False,
  'date': datetime.datetime(2020, 3, 26, 15, 56, 8, tzinfo=tzfile('/usr/share/zoneinfo/Europe/Warsaw')),
  'snapshots': []},
 {'symbol': 'NQM0_CONTFUT',
  'version': 21,
  'deleted': False,
  'date': datetime.datetime(2020, 3, 26, 13, 15, tzinfo=tzfile('/usr/share/zoneinfo/Europe/Warsaw')),
  'snapshots': []}]

In [143]:
bars

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-03-19 22:15:00,1.067170,1.067815,1.065565,1.066200,-1,-1.0,-1
2020-03-19 23:00:00,1.066200,1.067055,1.065505,1.066500,-1,-1.0,-1
2020-03-20 00:00:00,1.066500,1.066900,1.065465,1.065480,-1,-1.0,-1
2020-03-20 01:00:00,1.065480,1.067435,1.065300,1.066430,-1,-1.0,-1
2020-03-20 02:00:00,1.066430,1.074430,1.066315,1.072000,-1,-1.0,-1
...,...,...,...,...,...,...,...
2020-03-26 09:00:00,1.092500,1.094495,1.091555,1.093805,-1,-1.0,-1
2020-03-26 10:00:00,1.093805,1.095125,1.092610,1.094640,-1,-1.0,-1
2020-03-26 11:00:00,1.094640,1.095725,1.093755,1.095370,-1,-1.0,-1
2020-03-26 12:00:00,1.095370,1.097855,1.095365,1.095965,-1,-1.0,-1
2020-03-26 13:00:00,1.095965,1.096005,1.095740,1.095865,-1,-1.0,-1

In [144]:
d = pd.DataFrame()

In [145]:
d.append(bars)

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-03-19 22:15:00,1.067170,1.067815,1.065565,1.066200,-1,-1.0,-1
2020-03-19 23:00:00,1.066200,1.067055,1.065505,1.066500,-1,-1.0,-1
2020-03-20 00:00:00,1.066500,1.066900,1.065465,1.065480,-1,-1.0,-1
2020-03-20 01:00:00,1.065480,1.067435,1.065300,1.066430,-1,-1.0,-1
2020-03-20 02:00:00,1.066430,1.074430,1.066315,1.072000,-1,-1.0,-1
...,...,...,...,...,...,...,...
2020-03-26 09:00:00,1.092500,1.094495,1.091555,1.093805,-1,-1.0,-1
2020-03-26 10:00:00,1.093805,1.095125,1.092610,1.094640,-1,-1.0,-1
2020-03-26 11:00:00,1.094640,1.095725,1.093755,1.095370,-1,-1.0,-1
2020-03-26 12:00:00,1.095370,1.097855,1.095365,1.095965,-1,-1.0,-1
2020-03-26 13:00:00,1.095965,1.096005,1.095740,1.095865,-1,-1.0,-1

In [146]:
d

Empty DataFrame
Columns: []
Index: []

In [49]:
t = lib.read('test')

In [50]:
lib.list_symbols()

['EUR.USD_CASH', 'NQ', 'NQH0_CONTFUT', 'NQH0_FUT', 'edek', 'test']

In [119]:
edek = Forex('EURUSD',)
ib.qualifyContracts(edek)

[Forex('EURUSD', conId=12087792, exchange='IDEALPRO', localSymbol='EUR.USD', tradingClass='EUR.USD')]

In [120]:
bars = util.df(ib.reqHistoricalData(
        edek,
        endDateTime='',
        durationStr='5 D',
        barSizeSetting='1 hour',
        whatToShow='MIDPOINT',
        useRTH=True,
        formatDate=1)).set_index('date')

In [121]:
bars

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-03-19 22:15:00,1.067170,1.067815,1.065565,1.066200,-1,-1.0,-1
2020-03-19 23:00:00,1.066200,1.067055,1.065505,1.066500,-1,-1.0,-1
2020-03-20 00:00:00,1.066500,1.066900,1.065465,1.065480,-1,-1.0,-1
2020-03-20 01:00:00,1.065480,1.067435,1.065300,1.066430,-1,-1.0,-1
2020-03-20 02:00:00,1.066430,1.074430,1.066315,1.072000,-1,-1.0,-1
...,...,...,...,...,...,...,...
2020-03-26 09:00:00,1.092500,1.094495,1.091555,1.093805,-1,-1.0,-1
2020-03-26 10:00:00,1.093805,1.095125,1.092610,1.094640,-1,-1.0,-1
2020-03-26 11:00:00,1.094640,1.095725,1.093755,1.095370,-1,-1.0,-1
2020-03-26 12:00:00,1.095370,1.097855,1.095365,1.095965,-1,-1.0,-1
2020-03-26 13:00:00,1.095965,1.096005,1.095740,1.095865,-1,-1.0,-1

In [74]:
def hist(days_at_a_time):
    dt = ''
    barsList = []
    i = 10/days_at_a_time
    #i=1
    while i>0:
        bars = ib.reqHistoricalData(
            nq,
            endDateTime=dt,
            durationStr=str(days_at_a_time) + ' D',
            barSizeSetting='1 min',
            whatToShow='TRADES',
            useRTH=False,
            formatDate=1)
        #lib.append('edek', bars)
        if not bars:
            break
            dt -= timedelta(days=1)
            print(f'new dt: {dt}')
            continue
        barsList.append(bars)
        dt = bars[0].date
        print(dt)
        i -= 1
    allBars = [b for bars in reversed(barsList) for b in bars]
    df = util.df(allBars)
    return df

In [128]:
ib

In [129]:
ib.isConnected()

False

In [75]:
#%%timeit
hist(1)

2020-03-22 23:00:00
2020-03-19 23:00:00
2020-03-18 23:00:00
2020-03-17 23:00:00
2020-03-16 23:00:00
2020-03-15 23:00:00

Error 162, reqId 335: Historical Market Data Service error message:HMDS query returned no data: NQM0@GLOBEX Trades, contract: ContFuture(conId=357283192, symbol='NQ', lastTradeDateOrContractMonth='20200619', multiplier='20', exchange='GLOBEX', currency='USD', localSymbol='NQM0', tradingClass='NQ')

,date,open,high,low,close,volume,average,barCount
0,2020-03-15 23:00:00,7895.50,7897.75,7792.50,7792.50,423,7871.380011,83
1,2020-03-15 23:01:00,7728.00,7728.25,7644.75,7718.75,382,7688.155638,234
2,2020-03-15 23:02:00,7740.50,7777.75,7722.50,7726.75,181,7758.688030,87
3,2020-03-15 23:03:00,7736.25,7736.25,7655.00,7658.75,326,7689.529321,256
4,2020-03-15 23:04:00,7662.00,7663.00,7602.75,7647.25,287,7629.736634,217
...,...,...,...,...,...,...,...,...
7635,2020-03-23 12:30:00,6812.00,6813.75,6805.00,6806.25,347,6810.275000,262
7636,2020-03-23 12:31:00,6807.25,6807.50,6801.25,6801.75,350,6803.750000,237
7637,2020-03-23 12:32:00,6803.00,6804.75,6791.25,6800.75,323,6798.600000,228
7638,2020-03-23 12:33:00,6802.50,6806.50,6797.00,6799.50,224,6800.600000,145
7639,2020-03-23 12:34:00,6800.25,6804.75,6800.00,6802.75,78,6802.650000,59

Peer closed connection
Peer closed connection

In [44]:
bars = ib.reqHistoricalData(
            nq,
            endDateTime= '20200316 14:30:00',
            durationStr='1 D',
            barSizeSetting='1 min',
            whatToShow='TRADES',
            useRTH=False,
            formatDate=1)

In [124]:
bars

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-03-19 22:15:00,1.067170,1.067815,1.065565,1.066200,-1,-1.0,-1
2020-03-19 23:00:00,1.066200,1.067055,1.065505,1.066500,-1,-1.0,-1
2020-03-20 00:00:00,1.066500,1.066900,1.065465,1.065480,-1,-1.0,-1
2020-03-20 01:00:00,1.065480,1.067435,1.065300,1.066430,-1,-1.0,-1
2020-03-20 02:00:00,1.066430,1.074430,1.066315,1.072000,-1,-1.0,-1
...,...,...,...,...,...,...,...
2020-03-26 09:00:00,1.092500,1.094495,1.091555,1.093805,-1,-1.0,-1
2020-03-26 10:00:00,1.093805,1.095125,1.092610,1.094640,-1,-1.0,-1
2020-03-26 11:00:00,1.094640,1.095725,1.093755,1.095370,-1,-1.0,-1
2020-03-26 12:00:00,1.095370,1.097855,1.095365,1.095965,-1,-1.0,-1
2020-03-26 13:00:00,1.095965,1.096005,1.095740,1.095865,-1,-1.0,-1

In [125]:
lib.write('edek', bars)

VersionedItem(symbol=edek,library=arctic.TRADES_1_min,data=<class 'NoneType'>,version=1,metadata=None,host=localhost)

In [126]:
d=lib.read('edek')

In [127]:
d

VersionedItem(symbol=edek,library=arctic.TRADES_1_min,data=<class 'pandas.core.frame.DataFrame'>,version=1,metadata=None,host=localhost)

ERROR:ib_insync.client:Peer closed connection

In [40]:
d.head(50)

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-03-17 22:15:00,1.099650,1.101170,1.097225,1.100785,-1,-1.0,-1
2020-03-17 23:00:00,1.100790,1.102320,1.100750,1.101570,-1,-1.0,-1
2020-03-18 00:00:00,1.101570,1.102275,1.101100,1.101655,-1,-1.0,-1
2020-03-18 01:00:00,1.101655,1.101720,1.099110,1.099255,-1,-1.0,-1
2020-03-18 02:00:00,1.099255,1.100895,1.098505,1.100070,-1,-1.0,-1
2020-03-18 03:00:00,1.100070,1.101965,1.099920,1.101115,-1,-1.0,-1
2020-03-18 04:00:00,1.101115,1.102835,1.101085,1.102745,-1,-1.0,-1
2020-03-18 05:00:00,1.102745,1.103325,1.102490,1.103075,-1,-1.0,-1
2020-03-18 06:00:00,1.103075,1.104510,1.103060,1.103925,-1,-1.0,-1
2020-03-18 07:00:00,1.103925,1.103945,1.100280,1.100355,-1,-1.0,-1
2020-03-18 08:00:00,1.100355,1.101860,1.096635,1.096855,-1,-1.0,-1
2020-03-18 09:00:00,1.096855,1.099350,1.095545,1.097265,-1,-1.0,-1
2020-03-18 10:00:00,1.097265,1.101680,1.097165,1.099555,-1,-1.0,-1
2020-03-18 11:00:00,1.099555,1.101795,1.099145,1.100025,-1,-1.0,-1
2020-03-18 12:00:00,1.100025,1.100555,1.096825,1.097730,-1,-1.0,-1
2020-03-18 13:00:00,1.097730,1.097940,1.096780,1.097230,-1,-1.0,-1
2020-03-16 22:15:00,1.118000,1.118290,1.115940,1.118050,-1,-1.0,-1
2020-03-16 23:00:00,1.118050,1.118100,1.116535,1.116815,-1,-1.0,-1
2020-03-17 00:00:00,1.116815,1.117615,1.115830,1.116390,-1,-1.0,-1
2020-03-17 01:00:00,1.116390,1.117265,1.115980,1.117140,-1,-1.0,-1
2020-03-17 02:00:00,1.117140,1.117350,1.116025,1.116950,-1,-1.0,-1
2020-03-17 03:00:00,1.116950,1.118935,1.116565,1.117405,-1,-1.0,-1
2020-03-17 04:00:00,1.117405,1.118615,1.116875,1.117935,-1,-1.0,-1
2020-03-17 05:00:00,1.117935,1.118560,1.117585,1.117930,-1,-1.0,-1
2020-03-17 06:00:00,1.117930,1.118130,1.116820,1.116875,-1,-1.0,-1
2020-03-17 07:00:00,1.116875,1.117445,1.115740,1.116055,-1,-1.0,-1
2020-03-17 08:00:00,1.116055,1.116190,1.112915,1.113785,-1,-1.0,-1
2020-03-17 09:00:00,1.113785,1.114550,1.111040,1.111105,-1,-1.0,-1
2020-03-17 10:00:00,1.111105,1.111930,1.109255,1.109395,-1,-1.0,-1
2020-03-17 11:00:00,1.109395,1.109500,1.102535,1.102825,-1,-1.0,-1
2020-03-17 12:00:00,1.102825,1.103925,1.100025,1.101295,-1,-1.0,-1
2020-03-17 13:00:00,1.101295,1.101800,1.097305,1.098870,-1,-1.0,-1
2020-03-17 14:00:00,1.098870,1.101095,1.097660,1.099495,-1,-1.0,-1
2020-03-17 15:00:00,1.099495,1.101515,1.095500,1.097090,-1,-1.0,-1
2020-03-17 16:00:00,1.097090,1.099215,1.095815,1.097130,-1,-1.0,-1
2020-03-17 17:00:00,1.097130,1.099935,1.096375,1.096650,-1,-1.0,-1
2020-03-17 18:00:00,1.096650,1.098945,1.095865,1.098855,-1,-1.0,-1
2020-03-17 19:00:00,1.098855,1.102090,1.098030,1.100045,-1,-1.0,-1
2020-03-17 20:00:00,1.100045,1.101260,1.098350,1.100175,-1,-1.0,-1
2020-03-17 21:00:00,1.100175,1.101110,1.098885,1.099795,-1,-1.0,-1

In [41]:
lib.delete('edek')

In [37]:
lib.list_symbols()

['EUR.USD_CASH', 'NQ', 'NQH0_CONTFUT', 'NQH0_FUT', 'test']

In [ ]:
data = pd.read_pickle('/home/tomek/ib_tools/notebooks/data/minute_NQ_cont_non_active_included.pickle')
data

In [ ]:
data1 = data.iloc[100000:-50000]
data1

In [ ]:
def symbol_maker(obj: Union[ContFuture, Future]) -> str:
    return f'{obj.localSymbol}_{obj.secType}'

In [ ]:
def writer(obj: Union[ContFuture, Future], data: pd.DataFrame) -> str:
    return lib.write(symbol_maker(obj), data, metadata={**obj.nonDefaults(), **{'repr': repr(obj), 'secType': obj.secType}})

In [ ]:
lib.write('test', data, metadata={'object': nq_pickle})

In [ ]:
t = lib.read('test')

In [ ]:
pickle.loads(t.metadata['object'])

In [ ]:
writer(edek, bars)

In [ ]:
lib.list_symbols()

In [ ]:
writer(nq, data)

In [ ]:
lib.list_symbols()

In [ ]:
e = lib.read('EUR.USD_CASH')
e.metadata

In [ ]:
e.data

In [ ]:
lib.read('EUR.USD_CASH', date_range=DateRange('20200301','20200310')).data

In [ ]:
item = lib.read('NQ')

In [ ]:
item.version

In [ ]:
item_1 = lib.read(symbol_maker(nq_1))

In [ ]:
item_1

In [ ]:
item_1.version

In [ ]:
item.metadata

In [ ]:
lib.read_metadata('NQ').metadata

In [ ]:
lib.list_symbols()

In [ ]:
lib.append('NQ', data.iloc[-50000:])

In [ ]:
lib.read('NQ')

In [ ]:
lib.append('NQ', data.iloc[:100000])

In [ ]:
lib.read('NQ')

In [ ]:
nq_hourly = pd.read_pickle('/home/tomek/ib_tools/notebooks/data/hourly_NQ0919.pickle')

In [ ]:
nq_hourly.head()

In [ ]:
%%timeit
lib.write('NQ_hour', nq_hourly[50:])

In [ ]:
%%timeit
lib.read('NQ_hour')

In [ ]:
%%timeit
lib.write('NQ_hour_2', nq_hourly[50:], chunk_size='M')

In [ ]:
%%timeit
lib.read('NQ_hour_2')

In [ ]:
lib.append('NQ_hour_2', nq_hourly[:50])

In [ ]:
lib.append('NQ_hour', nq_hourly[:50])

In [ ]:
lib.read('NQ_hour')

In [ ]:
lib.get_info('NQ')

In [ ]:
lib.list_symbols()