In [1]:
import pandas as pd

In [3]:
gc = pd.read_pickle('gc_return.pickle')
nq = pd.read_pickle('nq_return.pickle')

In [4]:
returns = pd.DataFrame({'gc': gc['return'],
                      'nq': nq['return']})
returns.corr()

          gc        nq
gc  1.000000  0.203768
nq  0.203768  1.000000

In [5]:
nq_cont = pd.read_pickle('minute_NQ_cont_non_active_included.pickle')
gc_cont = pd.read_pickle('minute_GC_cont_non_active_included.pickle')
es_cont = pd.read_pickle('minute_ES_cont_non_active_included.pickle')
nk_cont = pd.read_pickle('minute_NKD_cont_non_active_included.pickle')

In [12]:
dfs = {'nq': nq_cont,
      'gc': gc_cont,
      'es': es_cont,
      'nk': nk_cont}

In [14]:
min_returns = pd.DataFrame()
for name, df in dfs.items():
    min_returns[name] = df.close.pct_change()
min_returns.tail()

                           nq        gc        es   nk
date
2019-09-04 18:27:00 -0.000032  0.000000  0.000000  0.0
2019-09-04 18:28:00  0.000000  0.000064  0.000000  0.0
2019-09-04 18:29:00  0.000000  0.000064 -0.000085  0.0
2019-09-04 18:30:00  0.000325 -0.000064  0.000256  0.0
2019-09-04 18:31:00 -0.000032 -0.000064  0.000000  0.0

In [15]:
min_returns.corr()

          nq        gc        es        nk
nq  1.000000 -0.185432  0.849473  0.546828
gc -0.185432  1.000000 -0.191624 -0.195640
es  0.849473 -0.191624  1.000000  0.572864
nk  0.546828 -0.195640  0.572864  1.000000