In [1]:
import pandas as pd

In [8]:
gc = pd.read_pickle('gc_return.pickle')
nq = pd.read_pickle('nq_return.pickle')
cl = pd.read_pickle('cl_return.pickle')

In [10]:
returns = pd.DataFrame({
    'gc': gc['return'],
    'nq': nq['return'],
    'cl': cl['return'],
})
returns.corr()

          gc        nq        cl
gc  1.000000  0.203768  0.338870
nq  0.203768  1.000000  0.114209
cl  0.338870  0.114209  1.000000

In [4]:
nq_cont = pd.read_pickle('minute_NQ_cont_non_active_included.pickle')
gc_cont = pd.read_pickle('minute_GC_cont_non_active_included.pickle')
es_cont = pd.read_pickle('minute_ES_cont_non_active_included.pickle')
nk_cont = pd.read_pickle('minute_NKD_cont_non_active_included.pickle')
cl_cont = pd.read_pickle('minute_CL_cont_non_active_included.pickle')

In [5]:
dfs = {'nq': nq_cont,
      'gc': gc_cont,
      'es': es_cont,
      'nk': nk_cont,
      'cl': cl_cont}

In [6]:
min_returns = pd.DataFrame()
for name, df in dfs.items():
    min_returns[name] = df.close.pct_change()
min_returns.tail()

                           nq        gc        es   nk        cl
date
2019-09-04 18:27:00 -0.000032  0.000000  0.000000  0.0 -0.000356
2019-09-04 18:28:00  0.000000  0.000064  0.000000  0.0  0.000713
2019-09-04 18:29:00  0.000000  0.000064 -0.000085  0.0  0.000712
2019-09-04 18:30:00  0.000325 -0.000064  0.000256  0.0  0.002846
2019-09-04 18:31:00 -0.000032 -0.000064  0.000000  0.0 -0.000355

In [7]:
min_returns.corr()

          nq        gc        es        nk        cl
nq  1.000000 -0.185432  0.849473  0.546828  0.214977
gc -0.185432  1.000000 -0.191624 -0.195640 -0.080926
es  0.849473 -0.191624  1.000000  0.572864  0.242429
nk  0.546828 -0.195640  0.572864  1.000000  0.167921
cl  0.214977 -0.080926  0.242429  0.167921  1.000000