In [1]:
from ib_insync import IB, util
from ib_insync.contract import Future, ContFuture, Forex
from ib_insync.client import Client
import datetime

In [2]:
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 4002, clientId=24)

In [3]:
contract = ContFuture('CL', exchange='NYMEX')

In [4]:
util.df(ib.reqContractDetails(contract))

,contract,marketName,minTick,orderTypes,validExchanges,priceMagnifier,underConId,longName,contractMonth,industry,...,callable,putable,coupon,convertible,maturity,issueDate,nextOptionDate,nextOptionType,nextOptionPartial,notes
0,"Contract(secType='CONTFUT', conId=138979250, s...",CL,0.01,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",NYMEX,1,17340715,Light Sweet Crude Oil,201910,,...,False,False,0,False,,,,,False,

In [ ]:
dt = ''
barsList = []
while True:
    bars = ib.reqHistoricalData(contract,
                            endDateTime=dt,
                            durationStr='10 D',
                            barSizeSetting='1 min',
                            whatToShow='TRADES',
                            useRTH=False,
                            formatDate=1
                            )
    if not bars:
        break
    barsList.append(bars)
    dt = bars[0].date - datetime.timedelta(minutes=1)
    print(dt)

allBars = [b for bars in reversed(barsList) for b in bars]
df = util.df(allBars)

2019-08-25 23:59:00
2019-08-15 23:59:00
2019-08-05 23:59:00
2019-07-28 23:59:00
2019-07-18 23:59:00

In [ ]:
df.date = df.date.astype('datetime64')
df.set_index('date', inplace=True)
df.head()

In [ ]:
df.to_pickle('minute_CL_cont_non_active_included.pickle')

In [ ]:
df.info()

In [ ]:
df.tail()