In [1]:
from ib_insync import IB, util
from ib_insync.contract import Future, ContFuture, Forex
from ib_insync.client import Client
import datetime

In [2]:
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 4002, clientId=24)

In [5]:
contract = Future('NQ', exchange='GLOBEX', includeExpired=True)

In [6]:
util.df(ib.reqContractDetails(contract))

,contract,marketName,minTick,orderTypes,validExchanges,priceMagnifier,underConId,longName,contractMonth,industry,...,callable,putable,coupon,convertible,maturity,issueDate,nextOptionDate,nextOptionType,nextOptionPartial,notes
0,"Contract(secType='FUT', conId=321454967, symbo...",NQ,0.25,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201909,,...,False,False,0,False,,,,,False,
1,"Contract(secType='FUT', conId=334144585, symbo...",NQ,0.25,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201912,,...,False,False,0,False,,,,,False,
2,"Contract(secType='FUT', conId=346577750, symbo...",NQ,0.25,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,202003,,...,False,False,0,False,,,,,False,
3,"Contract(secType='FUT', conId=357283192, symbo...",NQ,0.25,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,202006,,...,False,False,0,False,,,,,False,
4,"Contract(secType='FUT', conId=371749745, symbo...",NQ,0.25,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,202009,,...,False,False,0,False,,,,,False,
5,"Contract(secType='FUT', conId=236950080, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201709,,...,False,False,0,False,,,,,False,
6,"Contract(secType='FUT', conId=247950591, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201712,,...,False,False,0,False,,,,,False,
7,"Contract(secType='FUT', conId=258973479, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201803,,...,False,False,0,False,,,,,False,
8,"Contract(secType='FUT', conId=269745182, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201806,,...,False,False,0,False,,,,,False,
9,"Contract(secType='FUT', conId=279396750, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201809,,...,False,False,0,False,,,,,False,
10,"Contract(secType='FUT', conId=289128851, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201812,,...,False,False,0,False,,,,,False,
11,"Contract(secType='FUT', conId=299552989, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201903,,...,False,False,0,False,,,,,False,
12,"Contract(secType='FUT', conId=310629216, symbo...",NQ,0.25,LTH,GLOBEX,1,11004958,E-mini NASDAQ 100 Futures,201906,,...,False,False,0,False,,,,,False,

In [12]:
dt = ''
barsList = []
while True:
    bars = ib.reqHistoricalData(contract,
                            endDateTime=dt,
                            durationStr='10 D',
                            barSizeSetting='1 min',
                            whatToShow='TRADES',
                            useRTH=False,
                            formatDate=1
                            )
    if not bars:
        break
    barsList.append(bars)
    dt = bars[0].date - datetime.timedelta(minutes=1)
    print(dt)

allBars = [b for bars in reversed(barsList) for b in bars]
df = util.df(allBars)

2019-08-25 23:59:00
2019-08-15 23:59:00
2019-08-05 23:59:00
2019-07-28 23:59:00
2019-07-18 23:59:00
2019-07-08 23:59:00
2019-06-30 23:59:00
2019-06-20 23:59:00
2019-06-10 23:59:00
2019-06-02 23:59:00
2019-05-23 23:59:00
2019-05-13 23:59:00
2019-05-05 23:59:00
2019-04-25 23:59:00
2019-04-15 23:59:00
2019-04-07 23:59:00
2019-03-28 22:59:00
2019-03-18 22:59:00
2019-03-08 22:58:00
2019-02-26 22:57:00
2019-02-17 23:59:00
2019-02-07 23:59:00
2019-01-28 23:59:00
2019-01-20 23:59:00
2019-01-10 23:59:00
2019-01-01 23:59:00
2018-12-23 23:59:00
2018-12-13 23:59:00
2018-12-03 23:59:00
2018-11-25 23:59:00
2018-11-15 23:59:00
2018-11-05 23:59:00
2018-10-28 22:59:00
2018-10-18 23:59:00
2018-10-08 23:59:00
2018-09-30 23:59:00
2018-09-20 23:59:00
2018-09-10 23:59:00
2018-09-02 23:59:00
2018-08-23 23:59:00
2018-08-13 23:59:00
2018-08-05 23:59:00
2018-07-26 23:59:00
2018-07-16 23:59:00
2018-07-08 23:59:00
2018-06-28 23:59:00
2018-06-18 23:59:00
2018-06-10 23:59:00
2018-05-31 23:59:00
2018-05-21 23:59:00
2018-05-13 23:59:00
2018-05-03 23:59:00
2018-04-23 23:59:00
2018-04-15 23:59:00
2018-04-05 23:59:00
2018-03-26 23:59:00
2018-03-18 22:59:00
2018-03-08 22:58:00
2018-02-26 22:57:00
2018-02-16 22:56:00
2018-02-06 22:55:00
2018-01-28 23:59:00
2018-01-18 23:59:00
2018-01-08 23:59:00
2018-01-01 23:59:00
2017-12-25 23:59:00
2017-12-17 23:59:00
2017-12-07 23:59:00
2017-11-27 23:59:00

Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IB and Trader Workstation has been restored - data maintained.

2017-11-19 23:59:00
2017-11-09 23:59:00
2017-10-30 23:58:00
2017-10-22 23:59:00
2017-10-12 23:59:00
2017-10-02 23:59:00
2017-09-24 23:59:00
2017-09-14 23:59:00
2017-09-04 23:59:00
2017-08-27 23:59:00
2017-08-17 23:59:00
2017-08-07 23:59:00
2017-07-30 23:59:00
2017-07-20 23:59:00
2017-07-10 23:59:00
2017-07-02 23:59:00
2017-06-23 00:08:00
2017-06-13 00:07:00
2017-06-04 23:59:00
2017-05-25 23:59:00
2017-05-15 23:59:00
2017-05-08 00:06:00
2017-04-28 01:56:00
2017-04-18 01:55:00
2017-04-09 23:59:00
2017-03-31 01:35:00
2017-03-21 02:08:00
2017-03-12 23:01:00
2017-03-03 06:43:00
2017-02-21 06:42:00
2017-02-13 00:08:00
2017-02-03 09:50:00
2017-01-24 09:49:00
2017-01-16 13:42:00
2017-01-06 13:41:00
2016-12-27 13:40:00
2016-12-19 08:57:00
2016-12-09 08:56:00
2016-11-29 08:55:00
2016-11-20 23:59:00
2016-11-11 14:55:00
2016-11-01 14:54:00
2016-10-24 14:22:00
2016-10-14 18:07:00
2016-10-04 18:06:00
2016-09-26 14:39:00
2016-09-19 16:14:00
2016-09-09 16:13:00
2016-08-30 17:03:00

Error 162, reqId 169: Historical Market Data Service error message:HMDS query returned no data: CLV9@NYMEX Trades, contract: ContFuture(symbol='CL', exchange='NYMEX')

In [13]:
df.date = df.date.astype('datetime64')
df.set_index('date', inplace=True)
df.tail()

                      open   high    low  close  volume  average  barCount
date
2019-09-06 17:02:00  55.48  55.53  55.47  55.52     859   55.502       262
2019-09-06 17:03:00  55.52  55.54  55.49  55.50     420   55.522       155
2019-09-06 17:04:00  55.50  55.55  55.49  55.54     709   55.528       302
2019-09-06 17:05:00  55.55  55.60  55.53  55.59    1493   55.575       546
2019-09-06 17:06:00  55.59  55.64  55.56  55.62    1119   55.608       396

In [14]:
df.to_pickle('minute_CL_cont_non_active_included.pickle')

Peer closed connection

In [ ]:
df.info()

In [ ]:
df.tail()