In [1]:
from ib_insync import IB, util
from ib_insync.contract import Future, ContFuture, Forex
from ib_insync.client import Client
import datetime

In [2]:
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 4002, clientId=24)

In [3]:
contract = ContFuture('ES', exchange='GLOBEX')

In [4]:
util.df(ib.reqContractDetails(contract))

,contract,marketName,minTick,orderTypes,validExchanges,priceMagnifier,underConId,longName,contractMonth,industry,...,callable,putable,coupon,convertible,maturity,issueDate,nextOptionDate,nextOptionType,nextOptionPartial,notes
0,"Contract(secType='CONTFUT', conId=334144679, s...",ES,0.25,"ACTIVETIM,ADJUST,ALERT,ALGO,ALLOC,AVGCOST,BASK...",GLOBEX,1,11004968,E-mini S&P 500,201912,,...,False,False,0,False,,,,,False,

In [5]:
date = datetime.datetime.strptime('20180103', '%Y%m%d')
date

datetime.datetime(2018, 1, 3, 0, 0)

In [6]:
bars = ib.reqHistoricalData(contract,
                            endDateTime=date,
                            durationStr='1 D',
                            barSizeSetting='1 min',
                            whatToShow='TRADES',
                            useRTH=False,
                            formatDate=1
                            )

In [7]:
df = util.df(bars)
df.set_index('date', inplace=True)
df

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-01-02 00:00:00,2675.25,2677.00,2674.50,2676.75,2939,2675.700,491
2018-01-02 00:01:00,2676.75,2678.00,2676.50,2678.00,1258,2677.450,206
2018-01-02 00:02:00,2678.00,2678.75,2677.50,2678.50,852,2678.200,119
2018-01-02 00:03:00,2678.50,2678.75,2678.00,2678.25,547,2678.300,99
2018-01-02 00:04:00,2678.25,2678.50,2678.00,2678.50,275,2678.200,66
...,...,...,...,...,...,...,...
2018-01-02 22:55:00,2693.50,2694.00,2693.50,2693.75,318,2693.600,24
2018-01-02 22:56:00,2693.50,2694.00,2693.50,2694.00,261,2693.850,32
2018-01-02 22:57:00,2694.00,2694.00,2693.75,2694.00,266,2694.000,11
2018-01-02 22:58:00,2694.00,2694.00,2693.75,2694.00,37,2693.975,13
2018-01-02 22:59:00,2693.75,2694.00,2693.50,2694.00,675,2693.850,55

Peer closed connection

In [26]:
df.loc['20180102 20:00:00':].head(50)

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-01-02 20:00:00,2690.50,2690.75,2690.25,2690.25,573,2690.500,80
2018-01-02 20:01:00,2690.25,2691.25,2690.25,2691.25,1184,2690.875,124
2018-01-02 20:02:00,2691.25,2691.25,2690.75,2691.00,1544,2691.100,144
2018-01-02 20:03:00,2690.75,2691.25,2690.75,2691.25,440,2691.200,94
2018-01-02 20:04:00,2691.25,2691.50,2691.00,2691.25,927,2691.150,127
2018-01-02 20:05:00,2691.25,2691.50,2691.00,2691.00,1179,2691.175,112
2018-01-02 20:06:00,2691.00,2691.25,2690.75,2691.00,252,2691.000,47
2018-01-02 20:07:00,2691.00,2691.00,2690.75,2690.75,114,2690.975,37
2018-01-02 20:08:00,2690.75,2691.00,2690.75,2690.75,633,2690.775,60
2018-01-02 20:09:00,2690.75,2691.00,2690.25,2690.25,916,2690.550,118
2018-01-02 20:10:00,2690.50,2690.75,2690.25,2690.50,1236,2690.375,118
2018-01-02 20:11:00,2690.25,2690.50,2690.25,2690.50,380,2690.475,53
2018-01-02 20:12:00,2690.25,2690.50,2690.25,2690.50,292,2690.300,37
2018-01-02 20:13:00,2690.25,2690.50,2690.25,2690.25,658,2690.350,68
2018-01-02 20:14:00,2690.25,2690.75,2690.25,2690.50,841,2690.375,106
2018-01-02 20:15:00,2690.50,2691.00,2690.25,2690.75,1063,2690.600,73
2018-01-02 20:16:00,2690.75,2691.00,2690.50,2691.00,705,2690.750,77
2018-01-02 20:17:00,2691.00,2691.00,2690.50,2690.75,572,2690.750,60
2018-01-02 20:18:00,2690.50,2690.75,2690.50,2690.50,240,2690.525,39
2018-01-02 20:19:00,2690.75,2690.75,2690.25,2690.50,701,2690.450,70
2018-01-02 20:20:00,2690.75,2690.75,2690.50,2690.50,1106,2690.725,104
2018-01-02 20:21:00,2690.75,2690.75,2690.25,2690.75,363,2690.500,32
2018-01-02 20:22:00,2690.75,2690.75,2690.00,2690.25,1846,2690.525,125
2018-01-02 20:23:00,2690.00,2690.25,2689.75,2690.25,603,2690.000,87
2018-01-02 20:24:00,2690.25,2690.50,2690.25,2690.50,1085,2690.250,55
2018-01-02 20:25:00,2690.50,2690.50,2690.25,2690.50,35,2690.425,17
2018-01-02 20:26:00,2690.25,2690.50,2690.25,2690.25,79,2690.400,46
2018-01-02 20:27:00,2690.25,2690.50,2690.00,2690.00,1050,2690.325,78
2018-01-02 20:28:00,2690.25,2690.75,2690.25,2690.75,1241,2690.375,83
2018-01-02 20:29:00,2690.75,2690.75,2690.25,2690.75,761,2690.500,75
2018-01-02 20:30:00,2690.75,2690.75,2690.50,2690.75,411,2690.600,81
2018-01-02 20:31:00,2690.50,2691.00,2690.50,2690.75,276,2690.775,38
2018-01-02 20:32:00,2691.00,2691.25,2690.50,2690.50,2591,2690.925,255
2018-01-02 20:33:00,2690.50,2690.75,2690.50,2690.50,306,2690.525,48
2018-01-02 20:34:00,2690.50,2690.75,2690.50,2690.75,113,2690.625,54
2018-01-02 20:35:00,2690.75,2690.75,2690.25,2690.50,861,2690.550,80
2018-01-02 20:36:00,2690.50,2690.75,2690.50,2690.75,642,2690.600,41
2018-01-02 20:37:00,2690.75,2690.75,2690.25,2690.50,631,2690.500,68
2018-01-02 20:38:00,2690.50,2691.00,2690.50,2690.75,292,2690.700,36
2018-01-02 20:39:00,2690.75,2691.00,2690.50,2690.75,597,2690.750,32
2018-01-02 20:40:00,2690.50,2691.00,2690.50,2691.00,287,2690.725,17
2018-01-02 20:41:00,2690.75,2691.00,2690.75,2691.00,436,2690.975,53
2018-01-02 20:42:00,2691.25,2691.25,2691.00,2691.25,957,2691.225,110
2018-01-02 20:43:00,2691.00,2691.50,2691.00,2691.25,1441,2691.325,87
2018-01-02 20:44:00,2691.25,2691.25,2690.75,2690.75,661,2691.000,63
2018-01-02 20:45:00,2690.75,2691.00,2690.75,2691.00,168,2690.800,40
2018-01-02 20:46:00,2691.00,2691.00,2690.75,2690.75,157,2690.825,50
2018-01-02 20:47:00,2691.00,2691.00,2690.75,2690.75,667,2690.800,71
2018-01-02 20:48:00,2691.00,2691.00,2690.75,2690.75,128,2690.950,36
2018-01-02 20:49:00,2691.00,2691.00,2690.75,2690.75,850,2690.800,95

In [12]:
dt = ''
barsList = []
while True:
    bars = ib.reqHistoricalData(contract,
                            endDateTime=dt,
                            durationStr='10 D',
                            barSizeSetting='1 min',
                            whatToShow='TRADES',
                            useRTH=False,
                            formatDate=1
                            )
    if not bars:
        break
    barsList.append(bars)
    dt = bars[0].date - datetime.timedelta(minutes=1)
    print(dt)

allBars = [b for bars in reversed(barsList) for b in bars]
df = util.df(allBars)

2019-08-25 23:59:00
2019-08-15 23:59:00
2019-08-05 23:59:00
2019-07-28 23:59:00
2019-07-18 23:59:00
2019-07-08 23:59:00
2019-06-30 23:59:00
2019-06-20 23:59:00
2019-06-10 23:59:00
2019-06-02 23:59:00
2019-05-23 23:59:00
2019-05-13 23:59:00
2019-05-05 23:59:00
2019-04-25 23:59:00
2019-04-15 23:59:00
2019-04-07 23:59:00
2019-03-28 22:59:00
2019-03-18 22:59:00
2019-03-08 22:58:00
2019-02-26 22:57:00
2019-02-17 23:59:00
2019-02-07 23:59:00
2019-01-28 23:59:00
2019-01-20 23:59:00
2019-01-10 23:59:00
2019-01-01 23:59:00
2018-12-23 23:59:00
2018-12-13 23:59:00
2018-12-03 23:59:00
2018-11-25 23:59:00
2018-11-15 23:59:00
2018-11-05 23:59:00
2018-10-28 22:59:00
2018-10-18 23:59:00
2018-10-08 23:59:00
2018-09-30 23:59:00
2018-09-20 23:59:00
2018-09-10 23:59:00
2018-09-02 23:59:00
2018-08-23 23:59:00
2018-08-13 23:59:00
2018-08-05 23:59:00
2018-07-26 23:59:00
2018-07-16 23:59:00
2018-07-08 23:59:00
2018-06-28 23:59:00
2018-06-18 23:59:00
2018-06-10 23:59:00
2018-05-31 23:59:00
2018-05-21 23:59:00
2018-05-13 23:59:00
2018-05-03 23:59:00
2018-04-23 23:59:00
2018-04-15 23:59:00
2018-04-05 23:59:00
2018-03-26 23:59:00
2018-03-18 22:59:00
2018-03-08 22:58:00
2018-02-26 22:57:00
2018-02-16 22:56:00
2018-02-06 22:55:00
2018-01-28 23:59:00
2018-01-18 23:59:00
2018-01-08 23:59:00
2018-01-01 23:59:00
2017-12-25 23:59:00
2017-12-17 23:59:00
2017-12-07 23:59:00
2017-11-27 23:59:00

Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IB and Trader Workstation has been restored - data maintained.

2017-11-19 23:59:00
2017-11-09 23:59:00
2017-10-30 23:58:00
2017-10-22 23:59:00
2017-10-12 23:59:00
2017-10-02 23:59:00
2017-09-24 23:59:00
2017-09-14 23:59:00
2017-09-04 23:59:00
2017-08-27 23:59:00
2017-08-17 23:59:00
2017-08-07 23:59:00
2017-07-30 23:59:00
2017-07-20 23:59:00
2017-07-10 23:59:00
2017-07-02 23:59:00
2017-06-23 00:08:00
2017-06-13 00:07:00
2017-06-04 23:59:00
2017-05-25 23:59:00
2017-05-15 23:59:00
2017-05-08 00:06:00
2017-04-28 01:56:00
2017-04-18 01:55:00
2017-04-09 23:59:00
2017-03-31 01:35:00
2017-03-21 02:08:00
2017-03-12 23:01:00
2017-03-03 06:43:00
2017-02-21 06:42:00
2017-02-13 00:08:00
2017-02-03 09:50:00
2017-01-24 09:49:00
2017-01-16 13:42:00
2017-01-06 13:41:00
2016-12-27 13:40:00
2016-12-19 08:57:00
2016-12-09 08:56:00
2016-11-29 08:55:00
2016-11-20 23:59:00
2016-11-11 14:55:00
2016-11-01 14:54:00
2016-10-24 14:22:00
2016-10-14 18:07:00
2016-10-04 18:06:00
2016-09-26 14:39:00
2016-09-19 16:14:00
2016-09-09 16:13:00
2016-08-30 17:03:00

Error 162, reqId 169: Historical Market Data Service error message:HMDS query returned no data: CLV9@NYMEX Trades, contract: ContFuture(symbol='CL', exchange='NYMEX')

In [13]:
df.date = df.date.astype('datetime64')
df.set_index('date', inplace=True)
df.tail()

                      open   high    low  close  volume  average  barCount
date
2019-09-06 17:02:00  55.48  55.53  55.47  55.52     859   55.502       262
2019-09-06 17:03:00  55.52  55.54  55.49  55.50     420   55.522       155
2019-09-06 17:04:00  55.50  55.55  55.49  55.54     709   55.528       302
2019-09-06 17:05:00  55.55  55.60  55.53  55.59    1493   55.575       546
2019-09-06 17:06:00  55.59  55.64  55.56  55.62    1119   55.608       396

In [14]:
df.to_pickle('minute_CL_cont_non_active_included.pickle')

Peer closed connection

In [ ]:
df.info()

In [ ]:
df.tail()