In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import sys
sys.path.insert(0, '/home/tomek/ib_tools/')
from indicators import get_signals
from utils import chart_price, plot, perf, v_backtester, c_backtester, perf_var

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/pyfolio/pos.py:27: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; mutltipliers will not be applied' +

In [2]:
data = pd.read_pickle('freeze/live/all_bars_df_NQM0.pickle')

In [3]:
data

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-05-12 00:00:00,9282.00,9288.75,9280.75,9283.75,130,9285.450000,90
2020-05-12 00:00:30,9283.00,9286.25,9281.50,9286.25,35,9283.475000,30
2020-05-12 00:01:00,9287.00,9289.00,9284.25,9284.25,91,9286.475000,73
2020-05-12 00:01:30,9285.25,9287.75,9284.75,9287.75,23,9285.925000,22
2020-05-12 00:02:00,9287.50,9289.25,9287.00,9288.25,34,9288.150000,30
...,...,...,...,...,...,...,...
2020-05-25 17:27:00,9528.00,9528.25,9527.75,9528.25,30,9528.033333,22
2020-05-25 17:27:30,9528.25,9528.25,9526.50,9527.00,53,9527.047170,33
2020-05-25 17:28:00,9526.50,9527.75,9526.50,9527.50,21,9527.130952,19
2020-05-25 17:28:30,9527.25,9528.25,9526.75,9527.50,39,9527.551282,29
2020-05-25 17:29:00,9527.50,9528.00,9526.75,9527.25,33,9527.431818,23

In [9]:
df=data.loc['2020-05-25 16:46:30':].head(50)
df

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-05-25 16:46:30,9524.00,9524.00,9523.00,9523.75,44,9523.471591,26
2020-05-25 16:47:00,9524.00,9524.00,9523.25,9523.50,20,9523.675000,14
2020-05-25 16:47:30,9523.50,9524.00,9523.50,9523.50,14,9523.642857,13
2020-05-25 16:48:00,9523.75,9524.50,9523.25,9523.25,36,9523.979167,22
2020-05-25 16:48:30,9523.00,9523.25,9522.75,9522.75,22,9523.022727,19
2020-05-25 16:49:00,9522.50,9523.00,9522.50,9522.75,14,9522.714286,11
2020-05-25 16:49:30,9522.50,9522.75,9522.25,9522.75,10,9522.500000,9
2020-05-25 16:50:00,9522.75,9523.50,9522.50,9523.25,33,9522.969697,16
2020-05-25 16:50:30,9523.50,9524.25,9523.50,9524.00,34,9523.867647,22
2020-05-25 16:51:00,9524.25,9524.50,9524.00,9524.25,14,9524.321429,9
2020-05-25 16:51:30,9523.75,9524.25,9523.25,9524.00,29,9523.775862,19
2020-05-25 16:52:00,9524.50,9525.25,9524.50,9525.00,18,9524.972222,13
2020-05-25 16:52:30,9525.25,9525.25,9524.50,9524.50,29,9524.974138,23
2020-05-25 16:53:00,9524.00,9524.50,9524.00,9524.50,21,9524.273810,16
2020-05-25 16:53:30,9524.25,9526.00,9524.25,9526.00,29,9525.284483,23
2020-05-25 16:54:00,9525.75,9526.50,9525.50,9526.50,59,9526.029661,42
2020-05-25 16:54:30,9526.25,9527.25,9525.75,9526.25,50,9526.595000,39
2020-05-25 16:55:00,9526.50,9527.00,9526.50,9527.00,18,9526.819444,14
2020-05-25 16:55:30,9527.25,9527.25,9526.50,9527.25,31,9527.032258,21
2020-05-25 16:56:00,9527.25,9527.25,9525.75,9526.75,73,9526.472603,48
2020-05-25 16:56:30,9527.00,9527.25,9526.25,9526.50,26,9526.673077,20
2020-05-25 16:57:00,9526.75,9526.75,9526.00,9526.00,20,9526.512500,14
2020-05-25 16:57:30,9526.25,9527.00,9526.00,9527.00,36,9526.645833,27
2020-05-25 16:58:00,9527.25,9527.25,9526.00,9526.50,82,9526.597561,54
2020-05-25 16:58:30,9526.75,9532.00,9526.50,9528.00,299,9529.426421,196
2020-05-25 16:59:00,9528.25,9528.75,9527.50,9528.25,49,9528.193878,30
2020-05-25 16:59:30,9528.25,9528.50,9527.75,9527.75,13,9528.038462,10
2020-05-25 17:00:00,9528.00,9528.00,9526.75,9527.00,30,9527.283333,21
2020-05-25 17:00:30,9527.00,9528.50,9526.50,9526.50,64,9527.695312,29
2020-05-25 17:01:00,9526.50,9526.75,9526.00,9526.50,8,9526.375000,8
2020-05-25 17:01:30,9526.75,9526.75,9526.25,9526.25,12,9526.625000,7
2020-05-25 17:02:00,9526.00,9526.25,9524.25,9524.50,105,9525.180952,64
2020-05-25 17:02:30,9524.25,9526.75,9524.25,9526.75,57,9525.438596,36
2020-05-25 17:03:00,9526.50,9526.50,9525.75,9526.25,23,9526.021739,19
2020-05-25 17:03:30,9526.25,9526.25,9525.00,9525.50,18,9525.569444,16
2020-05-25 17:04:00,9525.25,9525.75,9525.00,9525.75,11,9525.500000,10
2020-05-25 17:04:30,9525.75,9525.75,9525.25,9525.75,24,9525.510417,11
2020-05-25 17:05:00,9525.50,9525.50,9524.25,9524.25,36,9524.743056,23
2020-05-25 17:05:30,9524.50,9525.75,9524.50,9525.00,22,9524.943182,16
2020-05-25 17:06:00,9525.00,9525.75,9524.75,9525.50,22,9525.352273,17
2020-05-25 17:06:30,9525.25,9526.00,9525.00,9525.25,28,9525.571429,20
2020-05-25 17:07:00,9525.00,9525.75,9525.00,9525.75,26,9525.413462,17
2020-05-25 17:07:30,9526.00,9526.00,9525.25,9525.25,8,9525.656250,7
2020-05-25 17:08:00,9525.00,9525.50,9524.25,9525.50,39,9524.865385,23
2020-05-25 17:08:30,9525.50,9525.50,9525.00,9525.50,21,9525.309524,17
2020-05-25 17:09:00,9525.00,9525.75,9525.00,9525.75,9,9525.444444,7
2020-05-25 17:09:30,9525.25,9526.00,9525.25,9526.00,24,9525.531250,16
2020-05-25 17:10:00,9526.00,9528.25,9526.00,9528.00,30,9526.983333,23
2020-05-25 17:10:30,9528.00,9528.50,9527.75,9528.50,42,9528.148810,29
2020-05-25 17:11:00,9528.00,9528.00,9526.50,9527.00,25,9527.210000,21

In [5]:
df.open[0], df.high.max(), df.low.min(), df.close[-1], df.volume.sum()

(9521.0, 9527.75, 9515.75, 9521.0, 2721)

In [6]:
data

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-05-12 00:00:00,9282.00,9288.75,9280.75,9283.75,130,9285.450000,90
2020-05-12 00:00:30,9283.00,9286.25,9281.50,9286.25,35,9283.475000,30
2020-05-12 00:01:00,9287.00,9289.00,9284.25,9284.25,91,9286.475000,73
2020-05-12 00:01:30,9285.25,9287.75,9284.75,9287.75,23,9285.925000,22
2020-05-12 00:02:00,9287.50,9289.25,9287.00,9288.25,34,9288.150000,30
...,...,...,...,...,...,...,...
2020-05-25 17:27:00,9528.00,9528.25,9527.75,9528.25,30,9528.033333,22
2020-05-25 17:27:30,9528.25,9528.25,9526.50,9527.00,53,9527.047170,33
2020-05-25 17:28:00,9526.50,9527.75,9526.50,9527.50,21,9527.130952,19
2020-05-25 17:28:30,9527.25,9528.25,9526.75,9527.50,39,9527.551282,29
2020-05-25 17:29:00,9527.50,9528.00,9526.75,9527.25,33,9527.431818,23

In [7]:
data.loc['2020-05-21 10:44:30':].head(50)

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-05-21 10:44:30,9436.00,9436.00,9433.75,9434.50,48,9434.850,39
2020-05-21 10:45:00,9434.50,9435.25,9433.50,9433.75,40,9434.350,33
2020-05-21 10:45:30,9433.50,9434.00,9430.75,9430.75,105,9432.700,60
2020-05-21 10:46:00,9430.75,9430.75,9428.75,9430.50,93,9430.050,72
2020-05-21 10:46:30,9430.50,9432.00,9430.50,9431.75,35,9431.350,31
2020-05-21 10:47:00,9431.50,9431.50,9429.50,9429.50,49,9430.500,41
2020-05-21 10:47:30,9429.25,9429.50,9428.25,9429.50,31,9429.100,29
2020-05-21 10:48:00,9429.75,9431.75,9429.75,9431.00,26,9430.900,21
2020-05-21 10:48:30,9431.25,9432.25,9431.25,9432.25,15,9431.625,11
2020-05-21 10:49:00,9432.75,9433.00,9431.50,9432.50,40,9432.550,28
2020-05-21 10:49:30,9433.00,9434.25,9432.00,9432.00,55,9433.150,39
2020-05-21 10:50:00,9431.75,9432.75,9428.25,9432.50,87,9430.100,69
2020-05-21 10:50:30,9433.00,9434.75,9432.75,9434.75,86,9433.850,64
2020-05-21 10:51:00,9434.50,9434.75,9433.75,9433.75,13,9434.125,13
2020-05-21 10:51:30,9434.00,9435.75,9434.00,9435.50,41,9434.950,32
2020-05-21 10:52:00,9435.50,9435.50,9433.75,9433.75,21,9434.400,18
2020-05-21 10:52:30,9434.25,9434.50,9432.00,9433.00,22,9433.475,18
2020-05-21 10:53:00,9433.00,9433.00,9431.50,9431.75,21,9431.975,17
2020-05-21 10:53:30,9431.75,9434.50,9431.75,9434.50,14,9433.350,11
2020-05-21 10:54:00,9434.50,9438.00,9434.50,9437.75,53,9436.525,44
2020-05-21 10:54:30,9438.00,9438.50,9436.50,9437.25,66,9437.575,57
2020-05-21 10:55:00,9437.75,9440.50,9436.50,9439.25,111,9438.225,76
2020-05-21 10:55:30,9439.50,9440.25,9438.25,9439.75,56,9439.250,49
2020-05-21 10:56:00,9439.25,9440.50,9438.25,9439.25,43,9439.150,28
2020-05-21 10:56:30,9438.75,9441.50,9438.75,9439.00,38,9439.825,33
2020-05-21 10:57:00,9439.25,9439.25,9435.50,9437.00,63,9436.800,48
2020-05-21 10:57:30,9437.50,9437.50,9435.75,9436.25,14,9436.275,13
2020-05-21 10:58:00,9435.75,9436.75,9435.25,9436.25,30,9436.100,19
2020-05-21 10:58:30,9436.25,9438.25,9435.50,9436.00,28,9436.950,25
2020-05-21 10:59:00,9436.75,9437.00,9436.00,9437.00,14,9436.625,12
2020-05-21 10:59:30,9436.75,9439.00,9436.00,9438.25,56,9437.750,48
2020-05-21 11:00:00,9439.00,9441.25,9438.50,9439.75,81,9440.050,61
2020-05-21 11:00:30,9440.75,9444.50,9440.75,9442.75,115,9442.850,87
2020-05-21 11:01:00,9442.25,9445.50,9442.25,9442.75,142,9444.100,115
2020-05-21 11:01:30,9442.75,9443.25,9440.00,9440.50,76,9441.400,48
2020-05-21 11:02:00,9440.75,9440.75,9438.00,9440.00,60,9439.450,47
2020-05-21 11:02:30,9439.75,9441.75,9439.50,9441.25,31,9440.725,26
2020-05-21 11:03:00,9440.75,9443.00,9440.75,9442.50,39,9441.850,32
2020-05-21 11:03:30,9442.00,9442.75,9441.50,9442.25,19,9442.125,16
2020-05-21 11:04:00,9442.75,9442.75,9438.75,9440.00,71,9440.125,49
2020-05-21 11:04:30,9439.50,9439.50,9436.25,9437.50,132,9437.600,103
2020-05-21 11:05:00,9437.50,9440.25,9437.25,9438.75,48,9438.375,38
2020-05-21 11:05:30,9439.25,9440.00,9438.00,9439.00,35,9438.675,24
2020-05-21 11:06:00,9438.75,9439.50,9437.50,9439.00,51,9438.650,31
2020-05-21 11:06:30,9439.00,9440.25,9438.25,9438.75,27,9439.200,20
2020-05-21 11:07:00,9438.50,9438.50,9436.25,9437.75,54,9437.300,40
2020-05-21 11:07:30,9437.00,9437.00,9433.50,9433.50,166,9435.450,102
2020-05-21 11:08:00,9434.50,9436.25,9432.25,9433.25,107,9434.025,84
2020-05-21 11:08:30,9432.75,9435.00,9432.50,9435.00,85,9433.425,57
2020-05-21 11:09:00,9435.25,9435.50,9432.50,9433.25,67,9433.750,51

In [8]:
data[data.index.duplicated()]

Empty DataFrame
Columns: [open, high, low, close, volume, average, barCount]
Index: []